.modal-body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.card-block .btn, .card-block .btn.btn-link, .card-block .card-link, .card-footer .btn, .card-footer .btn.btn-link, .card-footer .card-link {

    border-color: #02675c !important;
    color: #02675c !important;
  }
  .card-header, .card-block, .card-footer {

    margin-top: 33px !important;
}

.datagrid-detail-caret .datagrid-detail-caret-button {
  background: #02675c !important;
 }
 .uploadfile{
 display: flex;
    padding-top: 30px;
    margin-left: -8px;
}
clr-input-container{
    display: -webkit-box;
  }
  clr-select-container{
    display: -webkit-box;
  }
  .clr-input-group .clr-input-group-icon-action clr-icon {color:#03675c !important}
  .form-visitA .clr-form-control {
    flex-direction: inherit!important;}
    .form-visitA .formV {display: flex;} 
    .formV .formDate {display: flex;}
 
.clr-input-wrapper input{width: 70%!important}
.formV .clr-control-container .clr-input-group .clr-input {max-width: 70%!important}
.clr-control-label {margin-top: 4px}

.form-visitA {
   background-color: #d0a30326;
   border-left: 2px solid #B5A805;
  border-radius: 5px;
  padding: 10px 15px 20px 15px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.taskUnit {font-size:10px ; color:grey}

.clr-form-control{display: -webkit-inline-box;}
.imgIcon {margin-right: 20px}

.uniteRes {margin:24px 40px 0px 5px}
.resultMeasure {display: flex}
.resultVisit { display: grid  ;   grid-template-columns: 127px 133px auto; }
.form-visitResult {display: flex;}
.resultStandard p{font-weight:600;}
.form-visitResult .clr-control-label {color: #02675c}
.headerRes p {font-size:13px; margin-top:0;opacity: 0.5}

