<div class="main-container" style="background:#fff;">

    <nav class="subnav" style="background-color: #f7f7f7;">
        <ul class="nav">
            <li class="nav-item">
                <a routerLink="/Dashboard/general" class="nav-link" routerLinkActive="active">
                    <img class="iconimage" src="../../assets/Icones/list.png" alt="">
                    General</a>
            </li>
            <li class="nav-item">
                <a routerLink="/Dashboard/mortality" class="nav-link" routerLinkActive="active" >
                    <img class="iconimage" src="../../assets/Icones/list.png" alt="">
                    Details  </a>
            </li>
            <li class="nav-item">
                <a routerLink="/Dashboard/flock" class="nav-link" routerLinkActive="active" >
                    <img class="iconimage" src="../../assets/Icones/list.png" alt="">
                    Flocks  </a>
            </li>


        </ul>
    </nav>
<div class="container" style="background:rgba(255, 255, 255);    margin: 20px 20px;">
    <!-- Title Center-->
    <div class="clr-col-md-12">

    </div>

    <!-- Select + Boxes -->
    <div class="clr-col-md-12" style="background-color: #f5f5f5;
    padding: 10px 10px;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;">

        <div class="clr-row">
            <div class="clr-col-lg-6 clr-col-md-3">
                <div class="clr-row clr-col-lg-12 clr-col-md-12">
                    <div class="clr-col-lg-6 clr-col-md-3">
                        <div class="titleHeader">
                            <h5>The company</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clr-col-lg-2 clr-col-md-3 clr-col-sm-12 background"></div>

            <div class="clr-col-lg-2 clr-col-md-3 clr-col-sm-12 background">
                <div class="value " style="background: linear-gradient(to bottom right, #01897a, #004840);
                border-radius: 4px;">
                    <div class="contentText">
                        <h5 style="color:#fff">{{survivalCompany}}<small>%</small></h5>
                        <h4 style="color:#fff">Survival rate</h4>

                    </div>
                </div>
            </div>

            <div class="clr-col-lg-2 clr-col-md-3 clr-col-sm-12 background-box ">
                <div class="value boxContent">
                    <div class="contentText">
                        <h5>{{moratlityCompany}}<small>%</small></h5>
                        <h4>Mortality</h4>

                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- Charts -->
    <div class="clr-row" style="margin-top: 28px;">
        <div class="clr-col-md-4 background">
            <div style="background:rgb(255, 255, 255)">
                <div id="chartFeedConsumByfarm"></div>
            </div>
        </div>
        <div class="clr-col-md-4 background">
            <div class="content box1">
                <div id="chartGeneralMortalityByFarm"></div>
            </div>
        </div>
        <div class="clr-col-md-4 background">
            <div class="content box1">
                <div id="chartMortalityByBreed"></div>
            </div>
        </div>

    </div>
    <div class="clr-row" style="margin-top: 28px;">
            <div class="clr-col-6" id="chartdiv" style="height:300px;margin-left: 20px;"></div>

    </div>




    <!-- /Charts -->

</div>


<!--<div class="container">
    <router-outlet></router-outlet>
</div>-->
</div>


<!-- Chart code -->
