.container-box-add{
    background-color: white;
    max-width: 650px;
    margin: 4% auto 0;
    position: relative;
    border-radius: 7px;
}
.alert-bad {
    color: red;
    display: inline-block;
    animation: pulse 0.5s infinite ease-in-out;
  }

  @keyframes pulse {
    to {
      transform: scale(0.8);
      opacity: 0.5;
    }
  }

  clr-input-container{
    display: -webkit-box;
  }
  clr-select-container{
    display: -webkit-box;
  }
  .addbtn {
    float: right
  }

  .btn-hist {
  background-color: #02675c!important;
  }
.btn-hist:hover {
  background-color: #003e37!important;
  transform: .5s;
}
