<div class="container-box-add">
    <form novalidate name="myForm" #myForm='ngForm'>
        <h3 class="modal-title" style="padding: 15px 16px 8px; box-shadow: 1px 1px 8px #888888;">
            <img src="../../../assets/chick.png" width="40" style="margin-bottom: 8px;">
            Chick reception
        </h3>
        <div class="modal-body">
            <!-- /Spinner-->
                <div class="check-form ">
                    <div class="form-recep">
                    <!-- check-form date -->
                    <div class="formVdate form-visit0 clr-row">
                        <clr-date-container class="formDate clr-col-lg-12 clr-col-md-12 clr-col-sm-12" style="display: -webkit-inline-box;">
                            <label for="dailyVisit" class="clr-control-label clr-col-4">
                                Visit date * </label>
                            <input type="date" clrDate name="visitDate" [(ngModel)]="visitDate" required>

                        </clr-date-container>
                    </div>
                    <!-- check-form part 1 -->
                    <div class="formV form-visit1 clr-row">

                        <clr-select-container class="clr-col-md-6 clr-col-sm-12" style="display: -webkit-inline-box;">
                            <label for="farm" class="clr-control-label clr-col-4">Center *</label>
                            <select clrSelect class="clr-col-sm-12" name="farm" required name="centerId" [(ngModel)]="centerId"
                                style="width: 150px;" (change)="getCenterId($event.target.value)">
                                <option *ngFor="let center of centers" [value]='center.centerId'>
                                    {{center.centerName}}
                                </option>
                            </select>
                        </clr-select-container>
                        <clr-select-container class="clr-col-md-6 clr-col-sm-12" style="display: -webkit-inline-box;">
                            <label for="house" class="clr-control-label clr-col-4">House *</label>
                            <select clrSelect class="clr-col-sm-12" name="houseId" required style="width: 150px;" [(ngModel)]="houseId"
                                (change)="getHouseId($event.target.value)">
                                <option *ngFor="let house of houses" [value]='house.houseId'>
                                    {{house.houseName}}
                                </option>
                            </select>
                        </clr-select-container>
                    </div>
                  

                    <!-- check-form part 2 -->
                    <div class="formV form-visit2 clr-row">
                        <clr-select-container class="clr-col-md-6 clr-col-sm-12 "
                            style="display: -webkit-inline-box;">
                            <label for="breed" class="clr-control-label clr-col-4">
                                Flock *
                            </label>
                            <select clrSelect class="clr-col-sm-12" name="flockId" required style="width: 150px;" [(ngModel)]="flockId"
                                (change)="getFlockId($event.target.value)">
                                <option *ngFor="let flock of flocks" [value]='flock.flockID'>
                                    {{flock.startOfCycle}}
                                </option>
                            </select>
                        </clr-select-container>

                        <clr-input-container class="clr-col-md-6 clr-col-sm-12"
                            style="display: -webkit-inline-box;">
                            <label for="breeddescription" class="clr-control-label clr-col-4">
                                Breed </label>
                            <input type="text" clrInput name="breeddescription" class="clr-col-sm-12"
                                [(ngModel)]="breeddescription" readonly />
                        </clr-input-container>
                    </div>
                    <!-- check-form part 3 -->
                    <div class="formVdate form-visit3 clr-row">
                        <clr-input-container class="clr-col-md-6 clr-col-sm-12"
                            style="display: -webkit-inline-box;">
                            <label for="hatchDate" class="clr-control-label clr-col-4">
                                Hatch date * </label>
                            <input type="text" class="clr-col-sm-12" clrInput name="hatchDate" [(ngModel)]="hatchDate" class="clr-col-md-6"
                                readonly />
                        </clr-input-container>
                        <clr-input-container class="clr-col-md-6 clr-col-sm-12" style="display: -webkit-inline-box;">
                            <label for="chickPlaced" class="clr-control-label clr-col-4">
                                Chick placed </label>
                            <input clrInput class="clr-col-sm-12" required size="15" type="text" name="chikedPlaced" name="chickPlaced"
                                [(ngModel)]="chikedPlaced" readonly />
                        </clr-input-container>

                        
                    </div>
                    <!-- check-form part4 -->
                    <div class="formV form-visit4 clr-row">
                       
                        <clr-input-container class="clr-col-md-6 clr-col-sm-12" style="display: -webkit-inline-box;">
                            <label for="psOrigin" class="clr-control-label clr-col-4">
                                PS origin </label>
                            <input clrInput size="15" class="clr-col-sm-12" type="text" [(ngModel)]="psOrigin" name="psOrigin" readonly />
                        </clr-input-container>
                        <clr-input-container class="clr-col-md-6 clr-col-sm-12" style="display: -webkit-inline-box;">
                            <label for="ageOfTheFlock" class="clr-control-label clr-col-4">
                                PS Age </label>
                            <input clrInput class="clr-col-sm-12" size="15" type="text" name="ageOfTheFlock" [(ngModel)]="ageOfTheFlock"
                                readonly />
                        </clr-input-container>

                    </div>
                </div>
            </div>


            <!-- Visual inspection  -->

            <div class="form-check">

                <div class="form-checkVpart1" style=" padding: 10px 0px;">
                    <h4 style=" font-weight: 500; margin-left: 10px;"> <img src="../../../assets/Vinspect.png"
                            class="imgIcon" width="30 " style="margin-right: 8px;" />
                        Visual inspection
                    </h4>

                    <table class="table  table-border table-compact">
                        <!-- head Table -->
                        <thead>
                            <tr>
                                <th class="left"></th>
                                <th class="left"></th>
                                <th class="left"></th>
                                <th class="left">YES</th>
                                <th class="left">NO</th>


                            </tr>
                        </thead>
                        <tbody>

                            <!-- Form table-->
                            
                            <tr>
                               <td rowspan="3">Navel</td>
                                <td><img src="../../../assets/Icones audit/tempInside.png" class="imgIcon"
                                        width="22" height="20"></td>
                                <td class="left" style="font-weight: 600; color: #454545;">

                                    Clean and well healed *</td>
                                <td>
                                    <div class="radip-wrapper" style="display: flex">
                                        <clr-radio-wrapper style="margin-right: 20px;">
                                            <input type="radio" clrRadio name="options1" required [value]='10'
                                                [(ngModel)]="checkReception.navelCleanWellHealed" />
                                        </clr-radio-wrapper>


                                    </div>

                                </td>
                                <td>
                                    <div class="radip-wrapper" style="display: flex">

                                        <clr-radio-wrapper>
                                            <input type="radio" clrRadio name="options1" required [value]='0'
                                                [(ngModel)]="checkReception.navelCleanWellHealed" />
                                        </clr-radio-wrapper>

                                    </div>

                                </td>


                            </tr>

                            <tr>
                                <td><img src="../../../assets/Icones audit/tempInside.png" class="imgIcon"
                                        width="22" height="20"></td>
                                <td class="left" style="font-weight: 600; color: #454545;">

                                    Closed but slight abrasiveness *</td>
                                <td>
                                    <div class="radip-wrapper" style="display: flex">
                                        <clr-radio-wrapper style="margin-right: 20px;">
                                            <input type="radio" clrRadio name="options2" required [value]='5'
                                                [(ngModel)]="checkReception.navelClosedSlightAbrasiveness" />
                                        </clr-radio-wrapper>


                                    </div>

                                </td>
                                <td>
                                    <div class="radip-wrapper" style="display: flex">

                                        <clr-radio-wrapper>
                                            <input type="radio" clrRadio name="options2" required [value]='0'
                                                [(ngModel)]="checkReception.navelClosedSlightAbrasiveness" />
                                        </clr-radio-wrapper>

                                    </div>

                                </td>


                            </tr>
                            <tr>
                                <td><img src="../../../assets/Icones audit/tempInside.png" class="imgIcon"
                                        width="22" height="20"></td>
                                <td class="left" style="font-weight: 600; color: #454545;">

                                    Not closed/ strung / button attached or discolored *</td>
                                <td>
                                    <div class="radip-wrapper" style="display: flex">
                                        <clr-radio-wrapper style="margin-right: 20px;">
                                            <input type="radio" clrRadio name="options3" required [value]='0'
                                                [(ngModel)]="checkReception.navelNotclosedStrungButton" />
                                        </clr-radio-wrapper>


                                    </div>

                                </td>
                                <td>
                                    <div class="radip-wrapper" style="display: flex">

                                        <clr-radio-wrapper>
                                            <input type="radio" clrRadio name="options3" required [value]='-1'
                                                [(ngModel)]="checkReception.navelNotclosedStrungButton" />
                                        </clr-radio-wrapper>

                                    </div>

                                </td>


                            </tr>

                            <tr>
                                <td rowspan="3">Legs </td>
                                 <td><img src="../../../assets/Icones audit/tempInside.png" class="imgIcon"
                                         width="22" height="20"></td>
                                 <td class="left" style="font-weight: 600; color: #454545;">
 
                                    Clean , waxy legs *</td>
                                 <td>
                                     <div class="radip-wrapper" style="display: flex">
                                         <clr-radio-wrapper style="margin-right: 20px;">
                                             <input type="radio" clrRadio name="options4" required [value]='10'
                                                 [(ngModel)]="checkReception.legsCleanWaxy" />
                                         </clr-radio-wrapper>
 
 
                                     </div>
 
                                 </td>
                                 <td>
                                     <div class="radip-wrapper" style="display: flex">
 
                                         <clr-radio-wrapper>
                                             <input type="radio" clrRadio name="options4" required [value]='0'
                                                 [(ngModel)]="checkReception.legsCleanWaxy" />
                                         </clr-radio-wrapper>
 
                                     </div>
 
                                 </td>
 
 
                             </tr>
 
                             <tr>
                                 <td><img src="../../../assets/Icones audit/tempInside.png" class="imgIcon"
                                         width="22" height="20"></td>
                                 <td class="left" style="font-weight: 600; color: #454545;">
 
                                    Some dryness/ pale *</td>
                                 <td>
                                     <div class="radip-wrapper" style="display: flex">
                                         <clr-radio-wrapper style="margin-right: 20px;">
                                             <input type="radio" clrRadio name="options5" required [value]='5'
                                                 [(ngModel)]="checkReception.legsDrynessPale" />
                                         </clr-radio-wrapper>
 
 
                                     </div>
 
                                 </td>
                                 <td>
                                     <div class="radip-wrapper" style="display: flex">
 
                                         <clr-radio-wrapper>
                                             <input type="radio" clrRadio name="options5" required [value]='0'
                                                 [(ngModel)]="checkReception.legsDrynessPale" />
                                         </clr-radio-wrapper>
 
                                     </div>
 
                                 </td>
 
 
                             </tr>
                             <tr>
                                 <td><img src="../../../assets/Icones audit/tempInside.png" class="imgIcon"
                                         width="22" height="20"></td>
                                 <td class="left" style="font-weight: 600; color: #454545;">
 
                                    Deshydrated with vein protruding *</td>
                                 <td>
                                     <div class="radip-wrapper" style="display: flex">
                                         <clr-radio-wrapper style="margin-right: 20px;">
                                             <input type="radio" clrRadio name="options6" required [value]='0'
                                                 [(ngModel)]="checkReception.legsDeshydratedVienProtruding" />
                                         </clr-radio-wrapper>
 
 
                                     </div>
 
                                 </td>
                                 <td>
                                     <div class="radip-wrapper" style="display: flex">
 
                                         <clr-radio-wrapper>
                                             <input type="radio" clrRadio name="options6" required [value]='-1'
                                                 [(ngModel)]="checkReception.legsDeshydratedVienProtruding" />
                                         </clr-radio-wrapper>
 
                                     </div>
 
                                 </td>
 
 
                             </tr>

                             <tr>
                                <td rowspan="3">Hocks </td>
                                 <td><img src="../../../assets/Icones audit/tempInside.png" class="imgIcon"
                                         width="22" height="20"></td>
                                 <td class="left" style="font-weight: 600; color: #454545;">
 
                                    Clean , no blemishes *</td>
                                 <td>
                                     <div class="radip-wrapper" style="display: flex">
                                         <clr-radio-wrapper style="margin-right: 20px;">
                                             <input type="radio" clrRadio name="options7" required [value]='10'
                                                 [(ngModel)]="checkReception.hocksCleanNoblemishes" />
                                         </clr-radio-wrapper>
 
 
                                     </div>
 
                                 </td>
                                 <td>
                                     <div class="radip-wrapper" style="display: flex">
 
                                         <clr-radio-wrapper>
                                             <input type="radio" clrRadio name="options7" required [value]='0'
                                                 [(ngModel)]="checkReception.hocksCleanNoblemishes" />
                                         </clr-radio-wrapper>
 
                                     </div>
 
                                 </td>
 
 
                             </tr>
 
                             <tr>
                                 <td><img src="../../../assets/Icones audit/tempInside.png" class="imgIcon"
                                         width="22" height="20"></td>
                                 <td class="left" style="font-weight: 600; color: #454545;">
 
                                    slight blushing *</td>
                                 <td>
                                     <div class="radip-wrapper" style="display: flex">
                                         <clr-radio-wrapper style="margin-right: 20px;">
                                             <input type="radio" clrRadio name="options8" required [value]='5'
                                                 [(ngModel)]="checkReception.hocksSlightBlushing" />
                                         </clr-radio-wrapper>
 
 
                                     </div>
 
                                 </td>
                                 <td>
                                     <div class="radip-wrapper" style="display: flex">
 
                                         <clr-radio-wrapper>
                                             <input type="radio" clrRadio name="options8" required [value]='0'
                                                 [(ngModel)]="checkReception.hocksSlightBlushing" />
                                         </clr-radio-wrapper>
 
                                     </div>
 
                                 </td>
 
 
                             </tr>
                             <tr>
                                 <td><img src="../../../assets/Icones audit/tempInside.png" class="imgIcon"
                                         width="22" height="20"></td>
                                 <td class="left" style="font-weight: 600; color: #454545;">
 
                                    Red color / heavy blushing *</td>
                                 <td>
                                     <div class="radip-wrapper" style="display: flex">
                                         <clr-radio-wrapper style="margin-right: 20px;">
                                             <input type="radio" clrRadio name="options9" required [value]='0'
                                                 [(ngModel)]="checkReception.hocksRedcolorHeavyblushing" />
                                         </clr-radio-wrapper>
 
 
                                     </div>
 
                                 </td>
                                 <td>
                                     <div class="radip-wrapper" style="display: flex">
 
                                         <clr-radio-wrapper>
                                             <input type="radio" clrRadio name="options9" required [value]='-1'
                                                 [(ngModel)]="checkReception.hocksRedcolorHeavyblushing" />
                                         </clr-radio-wrapper>
 
                                     </div>
 
                                 </td>
 
 
                             </tr>

                             <tr>
                                <td rowspan="3">Defects </td>
                                 <td><img src="../../../assets/Icones audit/tempInside.png" class="imgIcon"
                                         width="22" height="20"></td>
                                 <td class="left" style="font-weight: 600; color: #454545;">
 
                                    Clean , no defects  *</td>
                                 <td>
                                     <div class="radip-wrapper" style="display: flex">
                                         <clr-radio-wrapper style="margin-right: 20px;">
                                             <input type="radio" clrRadio name="options10" required [value]='10'
                                                 [(ngModel)]="checkReception.defectsCleanNodefects" />
                                         </clr-radio-wrapper>
 
 
                                     </div>
 
                                 </td>
                                 <td>
                                     <div class="radip-wrapper" style="display: flex">
 
                                         <clr-radio-wrapper>
                                             <input type="radio" clrRadio name="options10" required [value]='0'
                                                 [(ngModel)]="checkReception.defectsCleanNodefects" />
                                         </clr-radio-wrapper>
 
                                     </div>
 
                                 </td>
 
 
                             </tr>
 
                             <tr>
                                 <td><img src="../../../assets/Icones audit/tempInside.png" class="imgIcon"
                                         width="22" height="20"></td>
                                 <td class="left" style="font-weight: 600; color: #454545;">
 
                                    Minor defects ( yolk staining , feather coloration,…) *</td>
                                 <td>
                                     <div class="radip-wrapper" style="display: flex">
                                         <clr-radio-wrapper style="margin-right: 20px;">
                                             <input type="radio" clrRadio name="options11" required [value]='5'
                                                 [(ngModel)]="checkReception.defectsMinorDefects" />
                                         </clr-radio-wrapper>
 
 
                                     </div>
 
                                 </td>
                                 <td>
                                     <div class="radip-wrapper" style="display: flex">
 
                                         <clr-radio-wrapper>
                                             <input type="radio" clrRadio name="options11" required [value]='0'
                                                 [(ngModel)]="checkReception.defectsMinorDefects" />
                                         </clr-radio-wrapper>
 
                                     </div>
 
                                 </td>
 
 
                             </tr>
                             <tr>
                                 <td><img src="../../../assets/Icones audit/tempInside.png" class="imgIcon"
                                         width="22" height="20"></td>
                                 <td class="left" style="font-weight: 600; color: #454545;">
 
                                    missing eye / blind , legs with cuts/ abrasions , spraddled legs ,cross beaks , poor feathering , clubbed down *</td>
                                 <td>
                                     <div class="radip-wrapper" style="display: flex">
                                         <clr-radio-wrapper style="margin-right: 20px;">
                                             <input type="radio" clrRadio name="options12" required [value]='0'
                                                 [(ngModel)]="checkReception.defectsEyeLegsSpraddled" />
                                         </clr-radio-wrapper>
 
 
                                     </div>
 
                                 </td>
                                 <td>
                                     <div class="radip-wrapper" style="display: flex">
 
                                         <clr-radio-wrapper>
                                             <input type="radio" clrRadio name="options12" required [value]='-1'
                                                 [(ngModel)]="checkReception.defectsEyeLegsSpraddled" />
                                         </clr-radio-wrapper>
 
                                     </div>
 
                                 </td>
 
 
                             </tr>
                        </tbody>
                    </table>


                   


                </div>






            </div>

            <!-- /End Visual inspection -->

        </div>




        <div class="modal-footer">

            <button type="button" class="btn btn-outline">Refaire</button>
            <button type="button" class="btn btn-primary" [disabled]="!myForm.valid" (click)="saveObject(myForm)">Sauvegarder</button>
        </div>
    </form>
</div>

<clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="false">
    <h3 class="modal-title">Result</h3>
    <div class="modal-body">

        <table class="table table-compact">
            <!-- head Table -->
            <thead>
                <tr>
                    <th class="left">Chick reception</th>
                    <th class="left">Mesure</th>
                    <th class="left">Standard</th>
                    <th class="left">Deviation</th>
                </tr>
            </thead>
            <tbody>

                <!-- Form table-->
                
                <tr>
                   <td class="left">{{checkReception.visitDate | date:'dd-MM-yyyy'}}</td>
                   <td class="left">{{checkReception.totalScore}}</td>
                   <td class="left" *ngIf="deviation=='execelent'">>=40</td>
                   <td class="left" *ngIf="deviation=='acceptable'">[20-39]</td>
                   <td class="left" *ngIf="deviation=='bad'"> <=19 </td>
                   <td class="left" style="color: green; font-weight:bold ; font-size: large;" *ngIf="deviation=='execelent'">Excellent</td>
                   <td class="left" style="color:#e47200; font-weight:bold ; font-size: large; " *ngIf="deviation=='acceptable'">Acceptable</td>
                   <td class="left alert-bad" style="font-weight:bold; font-size: large;" *ngIf="deviation=='bad'">Bad</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="opened = false">
            OK
        </button>
    </div>
</clr-modal>