clr-header{
  height: 60px;
  background-color: #02675c;
}
clr-main-container{
  background: url(../../../assets/bgbro.jpg) !important;
  background-size: cover !important; 
}

clr-main-container:-webkit-scrollbar { width: 0 !important }

.dropdown button.dropdown-toggle:not(.btn) {
  background: 0 0;
  border: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  text-align: left;
  padding: 0.9rem 1.2rem;
  color: #fafafa;
  color: var(--clr-header-font-color, #fafafa);
  opacity: .65;
  opacity: var(--clr-header-nav-opacity, 0.65);
}
header .header-nav .nav-link:first-of-type::before, header .header-nav .nav-link:last-of-type::after, .header .header-nav .nav-link:first-of-type::before, .header .header-nav .nav-link:last-of-type::after {
  display: none;
  position: absolute;
  background: #fafafa;
  background: var(--clr-header-font-color, #fafafa);
  opacity: .15;
  opacity: var(--clr-header-divider-opacity, 0.15);
  opacity: .15;
  height: 2rem;
  width: 0.05rem;
  width: var(--clr-global-borderwidth, 0.05rem);
  top: 0.5rem;
  left: 0;
  left: auto;
}

header .settings .nav-link, header .header-nav .nav-link, header .header-actions .nav-link, .header .settings .nav-link, .header .header-nav .nav-link, .header .header-actions .nav-link {
  position: relative;
  display: inline-block;
  /* text-align: center; */
  padding: 0.9rem 1.2rem;
  color: #fafafa;
  color: var(--clr-header-font-color, #fafafa);
  opacity: .65;
  opacity: var(--clr-header-nav-opacity, 0.65);
}



@media screen and (max-width: 768px){
.main-container.open-hamburger-menu .header .header-nav.clr-nav-level-1 .nav-link, .main-container.open-hamburger-menu .header .header-nav.clr-nav-level-2 .nav-link, .main-container.open-overflow-menu .header .header-nav.clr-nav-level-1 .nav-link, .main-container.open-overflow-menu .header .header-nav.clr-nav-level-2 .nav-link {
    flex: 0 0 auto;
    opacity: 1;
    color: #f2f2f2;
    text-align: left;
}

}

@media screen and (max-width: 768px){
  .dropdown{
    text-align: left;
      color: #f2f2f2;

}
.dropdown button.dropdown-toggle:not(.btn){
  flex: 0 0 auto;
    opacity: 1;
    color: #f2f2f2;
}

}
.dropdown.active button.dropdown-toggle:not(.btn){
  border-bottom: 3px solid #f5d103;
  background: rgba(255,255,255,.15);
    opacity: 1;
}

@media screen and (max-width: 800px){
.main-container.open-hamburger-menu .header-nav.clr-nav-level-1, .main-container.open-hamburger-menu .subnav.clr-nav-level-1, .main-container.open-hamburger-menu .sub-nav.clr-nav-level-1, .main-container.open-hamburger-menu .sidenav.clr-nav-level-1, .main-container.open-hamburger-menu .clr-vertical-nav.clr-nav-level-1 {
    width: 9.4rem;
    max-width: 14.4rem;
    background-color: #02675c;
}
}

@media screen and (max-width: 768px){
.main-container.open-hamburger-menu .header .header-nav.clr-nav-level-1 .nav-link.active, .main-container.open-hamburger-menu .header .header-nav.clr-nav-level-2 .nav-link.active, .main-container.open-overflow-menu .header .header-nav.clr-nav-level-1 .nav-link.active, .main-container.open-overflow-menu .header .header-nav.clr-nav-level-2 .nav-link.active {
  color: #f2f2f2;
  background: rgba(255,255,255,.15);
    opacity: 1;
}}

@media screen and (max-width: 768px){
.main-container.open-hamburger-menu[_ngcontent-knn-c222] .header[_ngcontent-knn-c222] .header-nav.clr-nav-level-1[_ngcontent-knn-c222] .nav-link[_ngcontent-knn-c222], .main-container.open-hamburger-menu[_ngcontent-knn-c222] .header[_ngcontent-knn-c222] .header-nav.clr-nav-level-2[_ngcontent-knn-c222] .nav-link[_ngcontent-knn-c222], .main-container.open-overflow-menu[_ngcontent-knn-c222] .header[_ngcontent-knn-c222] .header-nav.clr-nav-level-1[_ngcontent-knn-c222] .nav-link[_ngcontent-knn-c222], .main-container.open-overflow-menu[_ngcontent-knn-c222] .header[_ngcontent-knn-c222] .header-nav.clr-nav-level-2[_ngcontent-knn-c222] .nav-link[_ngcontent-knn-c222] {
    flex: 0 0 auto;
    opacity: 1;
    color: #f2f2f2;
    text-align: left;
}
}
