<div class="main-container" style="background:#fff;">

    <nav class="subnav" style="background-color: #f7f7f7;">
        <ul class="nav">
            <li class="nav-item">
                <a routerLink="/Dashboard/general" class="nav-link" routerLinkActive="active">
                    <img class="iconimage" src="../../assets/Icones/list.png" alt="">
                    General</a>
            </li>
            <li class="nav-item">
                <a routerLink="/Dashboard/mortality" class="nav-link" routerLinkActive="active" >
                    <img class="iconimage" src="../../assets/Icones/list.png" alt="">
                    Details  </a>
            </li>
            <li class="nav-item">
                <a routerLink="/Dashboard/flock" class="nav-link" routerLinkActive="active" >
                    <img class="iconimage" src="../../assets/Icones/list.png" alt="">
                    Flocks  </a>
            </li>


        </ul>
    </nav>
<div class="container " style="background:rgba(255, 255, 255); margin: 16px 20px; padding: 0px;">
    <!-- Select -->
    <div class=" clr-row clr-col-lg-12 clr-col-md-12 clr-col-sm-12"
        style="margin: auto; background-color: #f3f7f7; padding: 8px;">
        <div class=" clr-col-lg-3 clr-col-md-6 clr-col-sm-4">
            <form clrForm clrLayout="horizontal" style="text-align: left;">
                <clr-select-container style="margin-top: 0px">
                    <label>Farm</label>
                    <select clrSelect name="farm" [(ngModel)]="farmId"
                        (change)="getAllCentersByFarm($event.target.value);">
                        <option *ngFor="let farm of farms" [value]="farm.farmId"> {{farm.farmName}}
                        </option>
                    </select>
                </clr-select-container>
            </form>
        </div>
        <div class="clr-col-lg-3 clr-col-md-6 clr-col-sm-4">
            <form clrForm clrLayout="horizontal" style="text-align: left;">
                <clr-select-container style="margin-top: 0px">
                    <label>Center</label>
                    <select clrSelect name="center" [(ngModel)]="centerId"
                        (change)="getAllhouseByCenter($event.target.value);">
                        <option *ngFor="let center of centers" [value]="center.centerId"> {{center.centerName}}
                        </option>
                    </select>
                </clr-select-container>
            </form>
        </div>

        <div class="clr-col-lg-3 clr-col-md-6 clr-col-sm-4">
            <form clrForm clrLayout="horizontal" style="text-align: left;"
                >
                <clr-select-container style="margin-top: 0px">
                    <label>House</label>
                    <select clrSelect name="house" [(ngModel)]="houseId" (change)="getFlocksByHouseAndYear($event.target.value);
                    getMortalitybyFlock($event.target.value);getWeightByFlock($event.target.value);getFeedByFlock($event.target.value);
                    getWaterByFlocks($event.target.value);getFcrByFlock($event.target.value)">
                        <option *ngFor="let house of houses" [value]="house.houseId"> {{house.houseName}}
                        </option>
                    </select>
                </clr-select-container>
            </form>
        </div>


        <div class="clr-col-lg-2 clr-col-md-12 clr-col-sm-4">
            <div class="DateHeader" style="float: right;">
                <p><clr-icon shape="calendar" style=" height: 22px;     color: #01675c;
                    width: 22px; margin-right: 5px;   margin-bottom: 5px;"></clr-icon>{{date | date:'dd/MM/yyyy'}}</p>
            </div>
        </div>
    </div>
    <div class="clr-row" style="margin: auto;">
        <div class="clr-row clr-col-lg-12 clr-col-md-12 clr-col-sm-12">

            <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-6">
                <div id="chartdeathflocksComparaison" style=" height: 100%;  width: 100%"></div>
            </div>
          <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-6">
            <div id="chartWaterflocksComparaison" style=" height:100%;  width: 100%"></div>
          </div>


        </div>
        <div class="clr-row clr-col-lg-12 clr-col-md-12 clr-col-sm-12">

            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4">
                    <div id="chartWeightFlock" style=" height: 300px;  width: 100%"></div>
            </div>
          <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4">
            <div id="chartFcrFlock" style=" height: 300px;  width: 100%"></div>
          </div>
          <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-4">
            <div id="chartFeedFlock" style=" height: 300px;  width: 100%"></div>
          </div>

        </div>




    </div>
</div>
</div>

