<div class="container " style="background:rgba(255, 255, 255); margin: 16px 20px; padding: 0px;">
    <!-- Select -->
    <div class=" clr-row clr-col-lg-12 clr-col-md-12 clr-col-sm-12"
        style="margin: auto; background-color: #f3f7f7; padding: 8px;">
        <div class=" clr-col-lg-3 clr-col-md-6 clr-col-sm-4">
            <form clrForm clrLayout="horizontal" style="text-align: left;">
                <clr-select-container style="margin-top: 0px">
                    <label>Farm</label>
                    <select clrSelect name="farm" [(ngModel)]="farmId"
                        (change)="getAllCentersByFarm($event.target.value);">
                        <option *ngFor="let farm of farms" [value]="farm.farmId"> {{farm.farmName}}
                        </option>
                    </select>
                </clr-select-container>
            </form>
        </div>
        <div class="clr-col-lg-3 clr-col-md-6 clr-col-sm-4">
            <form clrForm clrLayout="horizontal" style="text-align: left;">
                <clr-select-container style="margin-top: 0px">
                    <label>Center</label>
                    <select clrSelect name="center" [(ngModel)]="centerId"
                        (change)="getAllhouseByCenter($event.target.value);">
                        <option *ngFor="let center of centers" [value]="center.centerId"> {{center.centerName}}
                        </option>
                    </select>
                </clr-select-container>
            </form>
        </div>

        <div class="clr-col-lg-3 clr-col-md-6 clr-col-sm-4">
            <form clrForm clrLayout="horizontal" style="text-align: left;"
                >
                <clr-select-container style="margin-top: 0px">
                    <label>House</label>
                    <select clrSelect name="house" [(ngModel)]="houseId" (change)="getFlocksByHouseAndYear($event.target.value);
                    getMortalitybyFlock($event.target.value);getWeightByFlock($event.target.value);getFeedByFlock($event.target.value);
                    getWaterByFlocks($event.target.value)">
                        <option *ngFor="let house of houses" [value]="house.houseId"> {{house.houseName}}
                        </option>
                    </select>
                </clr-select-container>
            </form>
        </div>
        

        <div class="clr-col-lg-2 clr-col-md-12 clr-col-sm-4">
            <div class="DateHeader" style="float: right;">
                <p><clr-icon shape="calendar" style=" height: 22px;     color: #01675c;
                    width: 22px; margin-right: 5px;   margin-bottom: 5px;"></clr-icon>{{date | date:'dd/MM/yyyy'}}</p>
            </div>
        </div>
    </div>
    <div class="clr-row" style="margin: auto;">
        <div class="clr-row clr-col-lg-12 clr-col-md-12 clr-col-sm-12">

            <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-6">

                <h3>Death analysis <img src="../../../assets/death-chiken.png" width="45" height="45"></h3>
                <div id="chartdeathflocksComparaison" style=" height: 100%;  width: 100%"></div>
            </div>
            <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-6">
                <h3>Feed analysis <img src="../../../assets/Icones visit/feedConsumption.png" width="40" height="40"
                    class="imgIcon"></h3>
                    <div id="chartFeedFlock" style=" height: 300px;  width: 100%"></div>
            </div>
                
        </div>
        <div class="clr-row clr-col-lg-12 clr-col-md-12 clr-col-sm-12">

            <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-6">

                <h3>Weight analysis <img src="../../../assets/Icones visit/weight.png" width="45" height="45" style="margin-top:-13px"
                    class="imgIcon"></h3>
                    <div id="chartWeightFlock" style=" height: 300px;  width: 100%"></div>
            </div>
            <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-6">
                <h3>Water analysis <img src="../../../assets/Icones visit/waterConsumption.png" width="40" height="40"
                            class="imgIcon"></h3>
                            <div id="chartWaterflocksComparaison" style=" height:100%;  width: 100%"></div>
            </div>
                
        </div>




    </div>
</div>

