<div class="container" style="background:rgba(255, 255, 255, .5);    margin: 24px 20px;
padding: 16px 10px;">
    <!-- Title Center-->
    <div class="clr-col-md-12">
    
            <div class="DateHeader">
                <p>05-08-2022</p>
            </div>

    </div> 

    <!-- Select + Boxes -->
    <div class="clr-col-md-12">

        <div class="clr-row">
            <div class="clr-col-md-6">
                <div class="clr-row clr-col-md-12">
                    <div class="clr-col-md-6">
                        <div class="titleHeader">
                            <h5>Title of Center</h5>
                        </div>
                    </div>
                    <div class="clr-col-md-6">
                        <form clrForm clrLayout="horizontal" style="text-align: right;">
                            <clr-select-container>
                                <label>CENTER</label>
                                <select clrSelect name="options">
                                    <option value="one"> center 1 </option>
                                    <option value="two"> center 2 </option>
                                    <option value="three"> center 3 </option>
                                    <option value="four"> center 4 </option>

                                </select>
                            </clr-select-container>
                        </form>
                    </div>


                </div>
            </div>


            <div class="clr-col-md-2 background ">
                <div class="value boxContent">
                    <div class="contentText">
                        <h4>Hatched eggs</h4>
                        <h5>246</h5>
                    </div>
                </div>
            </div>

            <div class="clr-col-md-2 background-box ">
                <div class="value boxContent">
                    <div class="contentText">
                        <h4>Mortality</h4>
                        <h5>20,32 <small>%</small></h5>
                    </div>
                </div>
            </div>

            <div class="clr-col-md-2 background ">
                <div class="value boxContent">
                    <div class="contentText">
                        <h4>Mortality </h4>
                        <h5>456,33 <small>K</small></h5>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- Charts -->
    <div class="clr-row" style="margin-top: 28px;">
        <div class="clr-col-md-6 background">
            <div class="clr-col-md-12">

                <div class="content box1" style="background:rgb(255, 255, 255)">
                    <div id="chartBarCenterMortality"></div>
                </div>

                <div class="content box1" style="background:rgb(255, 255, 255); margin-top: 10px;">
                    <div id="chartBreedMortality"></div>

                </div>
            </div>
        </div>
        <div class="clr-col-md-6 background">
            <div class="content box1" style="background:rgb(255, 255, 255)">
                <div id="chartBarYearMortality"></div>
            </div>
        </div>

    </div>




    <!-- /Charts -->

</div>


<div class="container">
    <router-outlet></router-outlet>
</div>


<!-- Chart code -->