.clr-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

clr-input-container {
  display: -webkit-box;
}
clr-select-container {
  display: -webkit-box;
}
.clr-form-control {
  margin-top: 20px;
}

.clr-control-label {
  line-height: 1rem;
}

.label {
  display: block;
  color: #454545;
  color: var(--clr-forms-label-color, #454545);
  font-size: 0.65rem;
  font-weight: 600;
  font-weight: var(--clr-forms-label-font-weight, 600);
  line-height: 0.9rem;
}

.close {
  fill: #8c8c8c;
  fill: var(--clr-modal-close-color, #8c8c8c);
  height: 15px;
  width: 15px;
  text-align: right;
}
.labelRapport .clr-form-control {
  margin-top: 0px;
}
.clr-form-control {
  margin-top: 0px;
}
.table th,
.table td {
  text-align: center !important;
}
.table tr:nth-child(even) {
  background-color: #ffffff26;
}
.table th, .table td{
  border: #ffffff30;
}
.table tr:nth-child(1) th{
  font-size: 13px;
  letter-spacing: 1px;
  background-color: #ffffff2b;
  border-bottom: 1px solid #bfbfbf;
}

.modal-body > :last-child {
  margin-bottom: 0;
  margin-top: -20px;
}
.tab-mortality{
  background-color: #ad0003;
  color: white;
}
.tab-mortality-header{
  background-color: #c80003;
  color: white;
  font-weight: bolder !important;
}
.tab-fcr{
  background-color: #405d3a;
  color: white;
}
.tab-abw{
 /* background-color: #87a72e;*/
 background-color: #00567a;
  color: white;
}
.tab-epef{
  background-color: #bc3901;
  color: white;
}

@media screen and (max-width: 700px){
h1 {
  font-weight: 100;
  font-size: large;
  margin-top: 45px;
}
}


