.clr-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

clr-input-container {
  display: -webkit-box;
}
clr-select-container {
  display: -webkit-box;
}
.clr-form-control {
  margin-top: 20px;
}

.clr-control-label {
  line-height: 1rem;
}

.label {
  display: block;
  color: #454545;
  color: var(--clr-forms-label-color, #454545);
  font-size: 0.65rem;
  font-weight: 600;
  font-weight: var(--clr-forms-label-font-weight, 600);
  line-height: 0.9rem;
}

.close {
  fill: #8c8c8c;
  fill: var(--clr-modal-close-color, #8c8c8c);
  height: 15px;
  width: 15px;
  text-align: right;
}
.labelRapport .clr-form-control {
  margin-top: 0px;
}
.clr-form-control {
  margin-top: 0px;
}
.table th,
.table td {
  text-align: left !important;
}
.modal-body > :last-child {
  margin-bottom: 0;
  margin-top: -20px;
}
