<div class="main-container" style="background:#fff;">
    <nav class="subnav" [clr-nav-level]="2" style="background-color: #f7f7f7;">
        <ul class="nav">
            <li class="nav-item">
                <a routerLink="/Visits-audits/chick_reception" class="nav-link" routerLinkActive="active">
                    <img class="iconimage" src="../../assets/Icones/list.png" alt="">
                    Chick reception </a>
            </li>
            <li class="nav-item">
                <a routerLink="/Visits-audits/brooding-check-list" class="nav-link" routerLinkActive="active">
                    <img class="iconimage" src="../../assets/Icones/AjoutPlus.png" alt="">
                    Brooding check list</a>
            </li>
            <li class="nav-item">
                <a routerLink="/Visits-audits/manager-audit-visit" class="nav-link" routerLinkActive="active">
                    <img class="iconimage" src="../../assets/Icones/reports.png" alt="">
                    Manager audit visit </a>
            </li>

        </ul>
    </nav>
    <div class="container">

        <router-outlet></router-outlet>


    </div>
</div>