.labelV {
    margin-top: 3.5px;
    width: 50%
}

.form-check h4 {
    color: #02675c;
    font-weight: 500;
}

.form-visit-title h4 {
    color: #02675c;
    font-weight: 500;
}

.modalV .tabs-vertical>.nav {
    background-color: #c0d6de69;
}

.taskUnit {
    font-size: 10px;
    color: grey
}

.modal-dialog {
    position: relative;
    z-index: 1050;
    width: 37rem !important;
    max-width: 102%;
}


@media (max-width: 767px) {
    .clr-wizard.wizard-md {
      display: none;
    }
    .clr-wizard.wizard-sm {
      display: block;
    }
  }
  @media (min-width: 767px) {
    .clr-form-control{
        display: -webkit-flex;
        flex-direction: inherit;
    } 
  }
  @media screen and (max-width: 576px){
.modal-body {
    max-height: 55vh;
    overflow-x: scroll;
}

  }
 
    