<div class="main-container" style="background:#fff;">
    <nav class="subnav" style="background-color: #f7f7f7;">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" (click)="modal2.open()">
                    <img class="iconimage" src="../../assets/Icones/AjoutPlus.png" alt="">
                    Weight per week </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" (click)="modal3.open()">
                    <img class="iconimage" src="../../assets/Icones/AjoutPlus.png" alt="">
                    Feed per week </a>
            </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" (click)="modal1.show=true">
              <img class="iconimage" src="../../assets/Icones/AjoutPlus.png" alt="">
              Mortality </a>
          </li>


        </ul>
    </nav>
    <div class="container">
        <app-weekly-weight></app-weekly-weight>
        <app-weekly-feed></app-weekly-feed>
      <app-motality-visit></app-motality-visit>
    </div>
    <div class="container">
        <div class="content-container">
            <h2>
                <img src="../../../assets/visit.png" width="38" height="40"
                    style="margin-top: -20px;  margin-right: 10px;">
                Visits
            </h2>
        </div>
        <!-- Actions Button -->
        <div class="addbtn">
            <app-new-visit></app-new-visit>
            <button (click)="modal.open()" class="btn btn-primary">
                <img src="../../../assets/newVisit.png" width="26" height="26"
                    style="margin-top: -5px; margin-right: 10px;">
                New visit
            </button>

        </div>

        <!-- /list of visits -->
        <!-- /Actions Buttons -->
        <div class="content-area">
            <clr-datagrid class="table_view " [clrDgLoading]="loading" style="width:100%">
                <clr-dg-column [clrDgSortBy]="'visitDate'" [clrDgField]="'visitDate'">Date</clr-dg-column>
                <clr-dg-column [clrDgField]="'flock.house.farm.name'">Farm</clr-dg-column>
                <clr-dg-column>House</clr-dg-column>
                <clr-dg-column [clrDgField]="'flock.flockName'">Flock</clr-dg-column>
                <clr-dg-column>Breed</clr-dg-column>
                <clr-dg-column>Hatch date</clr-dg-column>
                <clr-dg-column>Age of flock</clr-dg-column>
                <clr-dg-column>Chick placed</clr-dg-column>
                <clr-dg-column>PS origin</clr-dg-column>
                <!-- ... -->
                <clr-dg-row *clrDgItems="let visit of visits" [clrDgItem]="visit" class="tablecolor">
                    <clr-dg-cell> {{visit.visitDate}}</clr-dg-cell>
                    <clr-dg-cell style="width: 180px;"> {{visit.flock.house.farm.farmName}} </clr-dg-cell>
                    <clr-dg-cell style="width: 180px;">
                        {{visit.flock.house.houseName}} </clr-dg-cell>
                    <clr-dg-cell style="width: 180px;"> {{visit.flock.flockName}} </clr-dg-cell>
                    <clr-dg-cell style="width: 180px;"> {{visit.flock.breedObject.description}} </clr-dg-cell>
                    <clr-dg-cell style="width: 180px;"> {{visit.flock.hatchDate}} </clr-dg-cell>
                    <clr-dg-cell style="width: 180px;"> {{visit.ageFlock}} </clr-dg-cell>
                    <clr-dg-cell style="width: 180px;"> {{visit.flock.chikedPlaced}} </clr-dg-cell>
                    <clr-dg-cell style="width: 180px;"> {{visit.flock.psOrigin}} </clr-dg-cell>
                </clr-dg-row>
                <clr-dg-footer>
                    <clr-dg-pagination #pagination [clrDgPageSize]="15">
                        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                        of {{pagination.totalItems}} visits
                    </clr-dg-pagination>
                </clr-dg-footer>
                <!-- / end list of visits -->

                <ng-template clrIfDetail (clrIfDetailChange)="onDetailOpen($event)">
                    <!-- / Details list of visits -->
                    <clr-dg-detail *clrIfDetail="let detail">
                        <clr-dg-detail-header>
                            <h3 class="modal-title" style="color: #8c8c8c;">
                                Date of visit: <strong style="color: #02675c; " >{{detail.visitDate}} </strong>
                            </h3>
                            <div class="clr-row">
                            <h6  class="clr-col-4" class="modal-title"  style="color: #8c8c8c;">
                                House: <strong style="color: #02675c; ">{{detail.flock.house.houseName}} </strong>
                            </h6>
                            <div class="clr-col-4">

                            </div>
                            <h6 class="clr-col-4" class="modal-title" style="color: #8c8c8c;">
                                Flock: <strong style="color: #02675c; ">{{detail.flock.flockName}} </strong>
                            </h6>
                            </div>
                        </clr-dg-detail-header>
                        <clr-dg-detail-body>

                            <table class="table table-noborder">
                                <thead>
                                    <tr>
                                        <th class="left"></th>
                                        <th>Mesure</th>
                                        <th>Standard</th>
                                        <th class="left">Deviation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let vtask of visittasks; even as isEven; odd as isOdd" [ngClass]="{'even-row': isEven, 'odd-row': isOdd}">
                                        <td class="left">{{vtask.task.description}}</td>
                                        <td>{{vtask.measure}}  {{vtask.task.measureUnit}}</td>
                                        <td>{{vtask.standard}}</td>
                                        <td class="left"
                                        [ngClass]="{'alert-low': vtask.deviation=='Low', 'alert-high':vtask.deviation=='High' ,'normal':vtask.deviation=='Normal' }">
                                        {{vtask.deviation}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </clr-dg-detail-body>
                    </clr-dg-detail>
                    <!-- / end Details list of visits -->
                </ng-template>
            </clr-datagrid>

        </div>
    </div>
</div>
