<div class="main-container" style="background:#fff;">
    <div class="container">
        <div class="content-container">
            <h2>
                <img src="../../../assets/visit.png" width="38" height="40"
                    style="margin-top: -20px;  margin-right: 10px;">
                Visits
            </h2>
        </div>
        <!-- Actions Button -->
        <div class="addbtn">
            <app-new-visit></app-new-visit>
            <button (click)="modal.open()" class="btn btn-primary">
                <img src="../../../assets/newVisit.png" width="26" height="26"
                    style="margin-top: -5px; margin-right: 10px;">
                New visit
            </button>

        </div>

        <!-- /list of visits -->
        <!-- /Actions Buttons -->
        <div class="content-area">
            <clr-datagrid class="table_view " [clrDgLoading]="loading" style="width:100%">
                <clr-dg-column [clrDgSortBy]="'visitDate'" [clrDgField]="'visitDate'">Date</clr-dg-column>
                <clr-dg-column [clrDgField]="'flock.house.farm.name'">Farm</clr-dg-column>
                <clr-dg-column>House</clr-dg-column>
                <clr-dg-column [clrDgField]="'flock.flockName'">Flock</clr-dg-column>
                <clr-dg-column>Breed</clr-dg-column>
                <clr-dg-column>Hatch date</clr-dg-column>
                <clr-dg-column>Age of the flock</clr-dg-column>
                <clr-dg-column>Chick placed</clr-dg-column>
                <clr-dg-column>PS origin</clr-dg-column>
                <!-- ... -->
                <clr-dg-row *clrDgItems="let visit of visits" [clrDgItem]="visit" class="tablecolor">
                    <clr-dg-cell> {{visit.visitDate}}</clr-dg-cell>
                    <clr-dg-cell style="width: 180px;"> {{visit.flock.house.farm.farmName}} </clr-dg-cell>
                    <clr-dg-cell style="width: 180px;">
                        {{visit.flock.house.houseName}} </clr-dg-cell>
                    <clr-dg-cell style="width: 180px;"> {{visit.flock.flockName}} </clr-dg-cell>
                    <clr-dg-cell style="width: 180px;"> {{visit.flock.breedObject.description}} </clr-dg-cell>
                    <clr-dg-cell style="width: 180px;"> {{visit.flock.hatchDate}} </clr-dg-cell>
                    <clr-dg-cell style="width: 180px;"> {{visit.ageFlock}} </clr-dg-cell>
                    <clr-dg-cell style="width: 180px;"> {{visit.flock.chikedPlaced}} </clr-dg-cell>
                    <clr-dg-cell style="width: 180px;"> {{visit.flock.psOrigin}} </clr-dg-cell>
                </clr-dg-row>
                <clr-dg-footer>
                    <clr-dg-pagination #pagination [clrDgPageSize]="15">
                        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                        of {{pagination.totalItems}} visits
                    </clr-dg-pagination>
                </clr-dg-footer>
                <!-- / end list of visits -->

                <ng-template clrIfDetail let-detail (clrIfDetailChange)="onDetailOpen($event)">
                    <!-- / Details list of visits -->
                    <clr-dg-detail *clrIfDetail="let detail">
                        <clr-dg-detail-body>
                            <div class="separator"></div>
                            <form clrForm>


                                <h3 class="modal-title" style="color: #02675c;margin-bottom: 22px;    ">
                                    Date of visit <strong>{{detail.visitDate}}</strong>
                                </h3>
                                <div class="headerResult ">

                                    <div class="clr-offset-md-5 clr-col-md-7 ">
                                        <div class="resultVisit" style="grid-template-columns: 140px 175px auto">

                                            <div class="headerRes resultMeasure">
                                                <p>Mesure</p>
                                            </div>

                                            <div class="headerRes resultStandard">
                                                <p>Standard</p>
                                            </div>

                                            <div class="headerRes resultDeviation">
                                                <p>Deviation</p>
                                            </div>



                                        </div>
                                    </div>
                                </div>


                                <div class="modal-body">
                                    <div class="container clr-row">



                                        <div class="form-visitResult visitContent clr-col-md-12">
                                            <div class="labelVisit clr-col-md-5 " style="margin-top: 25px;">
                                                <img src="../../../assets/Icones visit/thermometer.png" class="imgIcon"
                                                    width="22" height="20">
                                                <label for="temperature"
                                                    class="clr-control-label clr-col-12 clr-col-md-12">
                                                    Temperature </label>
                                            </div>
                                            <div class="clr-control-container clr-col-md-7 visitContentD">
                                                <div class="resultVisit">

                                                    <div class="resultMeasure">
                                                        <p>{{measureTemResult}}</p>
                                                        <div class="Unite uniteRes">
                                                            <span class="taskUnit"> °C </span>
                                                        </div>
                                                    </div>
                                                    <div class="resultStandard">
                                                        <p>{{standardTemResult}}</p>
                                                    </div>
                                                    <div class="resultDeviation">
                                                        <p
                                                            [ngClass]="{'alert-low': deviationTemResult=='Low', 'alert-high':deviationTemResult=='High' ,'normal':deviationTemResult=='Normal' }">
                                                            {{deviationTemResult}}</p>
                                                    </div>



                                                </div>

                                            </div>
                                        </div>


                                        <div class="form-visitResult visitContent clr-col-md-12">
                                            <div class="labelVisit clr-col-md-5 " style="margin-top: 25px;">
                                                <img src="../../../assets/Icones visit/humidity.png" class="imgIcon"
                                                    width="21" height="21">
                                                <label for="humidity"
                                                    class="clr-control-label clr-col-12 clr-col-md-12">
                                                    Humidity </label>
                                            </div>
                                            <div class="clr-control-container clr-col-md-7 visitContentD">
                                                <div class="resultVisit">

                                                    <div class="resultMeasure">
                                                        <p>{{measureHumResult}}</p>
                                                        <div class="Unite uniteRes">
                                                            <span class="taskUnit"> % </span>
                                                        </div>
                                                    </div>

                                                    <div class="resultStandard">
                                                        <p>{{standardHumResult}}</p>
                                                    </div>

                                                    <div class="resultDeviation">
                                                        <p
                                                            [ngClass]="{'alert-low': deviationHumResult=='Low',  'alert-high':deviationHumResult=='High' ,  'normal':deviationHumResult=='Normal' }">
                                                            {{deviationHumResult}}</p>
                                                    </div>




                                                </div>

                                            </div>
                                        </div>



                                        <div class="form-visitResult visitContent clr-col-md-12">
                                            <div class="labelVisit clr-col-md-5 " style="margin-top: 25px;">
                                                <img src="../../../assets/Icones visit/windsock.png" width="22"
                                                    height="22" class="imgIcon">
                                                <label for="airSpeed"
                                                    class="clr-control-label clr-col-12 clr-col-md-12">
                                                    Air speed </label>
                                            </div>
                                            <div class="clr-control-container clr-col-md-7 visitContentD">
                                                <div class="resultVisit">

                                                    <div class="resultMeasure">
                                                        <p>{{measureAirSResult}}</p>
                                                        <div class="Unite uniteRes">
                                                            <span class="taskUnit"> m/s </span>
                                                        </div>
                                                    </div>
                                                    <div class="resultStandard">
                                                        <p>{{standardAirSResult}}</p>
                                                    </div>
                                                    <div class="resultDeviation">
                                                        <p
                                                            [ngClass]="{'alert-low': deviationAirSResult=='Low', 'alert-high':deviationAirSResult=='High' ,'normal':deviationAirSResult=='Normal' }">
                                                            {{deviationAirSResult}}</p>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>



                                        <div class="form-visitResult visitContent clr-col-md-12">
                                            <div class="labelVisit clr-col-md-5 " style="margin-top: 25px;">
                                                <img src="../../../assets/Icones visit/amoniac.png" width="21"
                                                    height="21" class="imgIcon">
                                                <label for="amoniac" class="clr-control-label clr-col-12 clr-col-md-12">
                                                    Amoniac </label>
                                            </div>
                                            <div class="clr-control-container clr-col-md-7 visitContentD">
                                                <div class="resultVisit">

                                                    <div class="resultMeasure">
                                                        <p>{{measureAmoResult}}</p>
                                                        <div class="Unite uniteRes">
                                                            <span class="taskUnit"> ppm </span>
                                                        </div>
                                                    </div>
                                                    <div class="resultStandard">
                                                        <p>{{standardAmoResult}}</p>
                                                    </div>
                                                    <div class="resultDeviation">
                                                        <p
                                                            [ngClass]="{'alert-low': deviationAmoResult=='Low', 'alert-high':deviationAmoResult=='High' ,'normal':deviationAmoResult=='Normal' }">
                                                            {{deviationAmoResult}}</p>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>


                                        <div class="form-visitResult visitContent clr-col-md-12">
                                            <div class="labelVisit clr-col-md-5 " style="margin-top: 25px;">
                                                <img src="../../../assets/Icones visit/lightIntensity.png" width="21"
                                                    height="21" class="imgIcon">
                                                <label for="lightIntensity"
                                                    class="clr-control-label clr-col-12 clr-col-md-12">
                                                    Light intensity </label>
                                            </div>
                                            <div class="clr-control-container clr-col-md-7 visitContentD">
                                                <div class="resultVisit">

                                                    <div class="resultMeasure">
                                                        <p>{{measureLighIResult}}</p>
                                                        <div class="Unite uniteRes">
                                                            <span class="taskUnit"> ppm </span>
                                                        </div>
                                                    </div>

                                                    <div class="resultStandard">
                                                        <p>{{standardLighIResult}}</p>
                                                    </div>
                                                    <div class="resultDeviation">
                                                        <p
                                                            [ngClass]="{'alert-low': deviationLighIResult=='Low', 'alert-high':deviationLighIResult=='High' ,'normal':deviationLighIResult=='Normal' }">
                                                            {{deviationLighIResult}}</p>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>



                                        <div class="form-visitResult visitContent clr-col-md-12">
                                            <div class="labelVisit clr-col-md-5 " style="margin-top: 25px;">
                                                <img src="../../../assets/Icones visit/feedConsumption.png" width="24"
                                                    height="24" class="imgIcon">
                                                <label for="feedConsumption"
                                                    class="clr-control-label clr-col-12 clr-col-md-12">
                                                    Total Feed consumption </label>
                                            </div>
                                            <div class="clr-control-container clr-col-md-7 visitContentD">
                                                <div class="resultVisit">

                                                    <div class="resultMeasure" style="    display: block;">
                                                        <div class="measurePerc">
                                                            <p>{{percentageFeedCResult}}</p>
                                                            <div class="Unite uniteRes">
                                                                <span class="taskUnit"> g/bird/day </span>
                                                            </div>
                                                        </div>
                                                        <div class="measurePerc2">
                                                            <p style="    margin: 0;">{{measureFeedCResult}}</p>
                                                            <div class="Unite uniteRes"
                                                                style="    margin-right: 0;    margin-top: 0;">
                                                                <span class="taskUnit"> feed bags </span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="resultStandard">
                                                        <p>{{standardFeedCResult}}</p>
                                                    </div>
                                                    <div class="resultDeviation">
                                                        <p
                                                            [ngClass]="{'alert-low': deviationFeedCResult=='Low', 'alert-high':deviationFeedCResult=='High' ,'normal':deviationFeedCResult=='Normal' }">
                                                            {{deviationFeedCResult}}</p>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>


                                        <div class="form-visitResult visitContent clr-col-md-12">
                                            <div class="labelVisit clr-col-md-5 " style="margin-top: 25px;">
                                                <img src="../../../assets/Icones visit/waterConsumption.png" width="22"
                                                    height="20" class="imgIcon">
                                                <label for="waterConsumption"
                                                    class="clr-control-label clr-col-12 clr-col-md-12">
                                                    Total water consumption </label>
                                            </div>

                                            <div class="clr-control-container clr-col-md-7 visitContentD">
                                                <div class="resultVisit">

                                                    <div class="resultMeasure" style="    display: block;">
                                                        <div class="measurePerc">
                                                            <p>{{percentageWatCResult}}</p>
                                                            <div class="Unite uniteRes">
                                                                <span class="taskUnit"> ml/bird/day </span>
                                                            </div>
                                                        </div>
                                                        <div class="measurePerc2">
                                                            <p style="    margin: 0;">{{measureWatCResult}}</p>
                                                            <div class="Unite uniteRes"
                                                                style="    margin-right: 0;    margin-top: 0;">
                                                                <span class="taskUnit"> m³ </span>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="resultStandard">
                                                        <p>{{standardWatCResult}}</p>
                                                    </div>
                                                    <div class="resultDeviation">
                                                        <p
                                                            [ngClass]="{'alert-low': deviationWatCResult=='Low', 'alert-high':deviationWatCResult=='High' ,'normal':deviationWatCResult=='Normal' }">
                                                            {{deviationWatCResult}}</p>
                                                    </div>



                                                </div>

                                            </div>
                                        </div>


                                        <div class="form-visitResult visitContent clr-col-md-12">
                                            <div class="labelVisit clr-col-md-5 " style="margin-top: 25px;">
                                                <img src="../../../assets/Icones visit/mortality.png" width="21"
                                                    height="21" class="imgIcon">
                                                <label for="mortality"
                                                    class="clr-control-label clr-col-12 clr-col-md-12">
                                                    Mortality </label>
                                            </div>
                                            <div class="clr-control-container clr-col-md-7 visitContentD">
                                                <div class="resultVisit">

                                                    <div class="resultMeasure" style="    display: block;">
                                                        <div class="measurePerc">
                                                            <p>{{percentageMortResult}}</p>
                                                            <div class="Unite uniteRes">
                                                                <span class="taskUnit"> % </span>
                                                            </div>
                                                        </div>
                                                        <div class="measurePerc2">
                                                            <p style="    margin: 0;">{{measureMortResult}}</p>
                                                            <div class="Unite uniteRes"
                                                                style="    margin-right: 0;    margin-top: 0;">
                                                                <span class="taskUnit"> dead birds </span>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="resultStandard">
                                                        <p>{{standardMortResult}}</p>
                                                    </div>
                                                    <div class="resultDeviation">
                                                        <p
                                                            [ngClass]="{'alert-low': deviationMortResult=='Low', 'alert-high':deviationMortResult=='High' ,'normal':deviationMortResult=='Normal' }">
                                                            {{deviationMortResult}}</p>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>


                                        <div class="form-visitResult visitContent clr-col-md-12">
                                            <div class="labelVisit clr-col-md-5 " style="margin-top: 25px;">
                                                <img src="../../../assets/Icones visit/litterCondition.png"
                                                    class="imgIcon" width="22" height="22" />
                                                <label for="litterCondition"
                                                    class="clr-control-label clr-col-12 clr-col-md-12">
                                                    Litter condition </label>
                                            </div>
                                            <div class="clr-control-container clr-col-md-7 visitContentD">
                                                <div class="resultVisit">

                                                    <div class="resultMeasure">
                                                        <p>{{measureLittCResult}}</p>
                                                    </div>
                                                    <div class="resultStandard">
                                                        <p>{{standardLittCResult}}</p>
                                                    </div>
                                                    <div class="resultDeviation">
                                                        <p
                                                            [ngClass]="{'alert-low': deviationLittCResult=='Low', 'alert-high':deviationLittCResult=='High' ,'normal':deviationLittCResult=='Normal' }">
                                                            {{deviationLittCResult}}</p>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-visitResult visitContent clr-col-md-12">
                                            <div class="labelVisit clr-col-md-5 " style="margin-top: 25px;">
                                                <img src="../../../assets/Icones visit/density.png" width="23"
                                                    height="23" class="imgIcon">
                                                <label for="density" class="clr-control-label clr-col-12 clr-col-md-12">
                                                    Density </label>
                                            </div>
                                            <div class="clr-control-container clr-col-md-7 visitContentD">
                                                <div class="resultVisit">

                                                    <div class="resultMeasure">
                                                        <p>{{measureDensResult}}</p>
                                                        <div class="Unite uniteRes">
                                                            <span class="taskUnit"> bird/㎡ </span>
                                                        </div>
                                                    </div>
                                                    <div class="resultStandard">
                                                        <p>{{standardDensResult}}</p>
                                                    </div>
                                                    <div class="resultDeviation">
                                                        <p
                                                            [ngClass]="{'alert-low': deviationDensResult=='Low', 'alert-high':deviationDensResult=='High','normal':deviationDensResult=='Normal' }">
                                                            {{deviationDensResult}}</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-visitResult visitContent clr-col-md-12">
                                            <div class="labelVisit clr-col-md-5 " style="margin-top: 25px;">

                                                <img src="../../../assets/Icones visit/weight.png" width="22"
                                                    height="22" class="imgIcon">
                                                <label for="weight" class="clr-control-label clr-col-12 clr-col-md-12">
                                                    Weight </label>
                                            </div>
                                            <div class="clr-control-container clr-col-md-7 visitContentD">
                                                <div class="resultVisit">

                                                    <div class="resultMeasure">
                                                        <p>{{measureWeightResult}}</p>
                                                        <div class="Unite uniteRes">
                                                            <span class="taskUnit"> g </span>
                                                        </div>
                                                    </div>
                                                    <div class="resultStandard">
                                                        <p>{{standardWeightResult}}</p>
                                                    </div>
                                                    <div class="resultDeviation">
                                                        <p
                                                            [ngClass]="{'alert-low': deviationWeightResult=='Low', 'alert-high':deviationWeightResult=='High' ,'normal':deviationWeightResult=='Normal' }">
                                                            {{deviationWeightResult}}</p>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>



                                        <div class="form-visitResult visitContent clr-col-md-12">
                                            <div class="labelVisit clr-col-md-5 " style="margin-top: 25px;">
                                                <img src="../../../assets/Icones visit/homogeneityFlock.png" width="22"
                                                    height="22" class="imgIcon">
                                                <label for="homogeneityFlock"
                                                    class="clr-control-label clr-col-12 clr-col-md-12">
                                                    Homogeneity </label>
                                            </div>
                                            <div class="clr-control-container clr-col-md-7 visitContentD">
                                                <div class="resultVisit">

                                                    <div class="resultMeasure">
                                                        <p>{{measureHomogResult}}</p>
                                                        <div class="Unite uniteRes">
                                                            <span class="taskUnit"> % </span>
                                                        </div>
                                                    </div>
                                                    <div class="resultStandard">
                                                        <p>{{standardHomogResult}}</p>
                                                    </div>

                                                    <div class="resultDeviation">
                                                        <p
                                                            [ngClass]="{'alert-low': deviationHomogResult=='Poor', 'normal':deviationHomogResult=='Execellent' || deviationHomogResult=='Average' }">
                                                            {{deviationHomogResult}}</p>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>


                            </form>


                        </clr-dg-detail-body>
                    </clr-dg-detail>
                    <!-- / end Details list of visits -->
                </ng-template>
            </clr-datagrid>

        </div>
    </div>
</div>