.modal-dialog {
    position: relative;
    z-index: 1050;
    width: 37rem !important;
    max-width: 102%;
}

.test .clr-form-control{
    margin-top: 0px;
}

.clrInput{
    margin-top: 0px;
}
.floatedTable {
    float:left;
}
.modal-footer{
    padding: 0.5rem 0px 0px 0px;
}
.modal-header .ng-tns-c188-1{
    padding: 0 0 0rem 0;
}
