.modal-dialog {
    position: relative;
    z-index: 1050;
    width: 37rem !important;
    max-width: 102%;
}

.alertspan{
    font-size:small ; 
    margin-right: 89px; 
    width: 100%
}
.buttonfooter{
    display: flex;
}

.test .clr-form-control{
    margin-top: 0px;
}

.clrInput{
    margin-top: 0px;
}
.floatedTable {
    float:left;
}
.modal-footer{
    padding: 0.5rem 0px 0px 0px;
}
.modal-header .ng-tns-c188-1{
    padding: 0 0 0rem 0;
}
@media screen and (max-width: 576px){
.table th, .table td {
    font-size: .65rem;
    line-height: .7rem;
    border-top-style: solid;
    border-top-width: 0.05rem;
    border-top-width: var(--clr-table-borderwidth, 0.05rem);
    border-top-color: #e8e8e8;
    border-top-color: var(--clr-tablerow-bordercolor, #e8e8e8);
    padding: 0.55rem 0.6rem 0.55rem;
    text-align: center;
    vertical-align: top;
    max-width: 100px;
  }
  .table td input {
    border-radius: 0;
    max-width: 90px;
}
}
@media screen and (max-width: 576px){
.modal-footer {
    padding: 0.6rem 1.2rem 0 0;
    display: inherit;
    justify-content: flex-start;
}
.alertspan{
    font-size:small ; 
    margin-right: 0px; 
    margin-left: 20px;
    width: 100%
}
.buttonfooter{
    display: flex;
    justify-content: flex-end;
}
}