<!-- Dialog for weight management -->
<form clrForm class="clr-form clr-form-horizontal">
    <clr-modal title="Weight" [(clrModalOpen)]="show" [clrModalStaticBackdrop]="true">
<div class="modal-header">
        <h3 class="modal-title" style="color: #02675c; padding-bottom: 0;"><img src="../../../assets/icons8-weight-96.png" width="22"
                height="22">
            Weight measurement
        </h3>
</div>
        <div class="modal-body">
            <div class="container">
                <div>
                    <!-- form-visit part 1 -->
                    <div class="formV clr-row">
                        <clr-select-container class="clr-col-md-6 clr-row">
                            <label for="farm" class="clr-control-label clr-col-3">Center </label>
                            <select class="clr-col-7" clrSelect name="farm" [(ngModel)]="centerId" name="farmID"
                                (change)="getCenterId($event.target.value)"
                                style="width: 190px;  background-color: #f5f5f5;">
                                <option *ngFor="let center of centers " [value]='center.centerId'>
                                    {{center.centerName}}
                                </option>
                            </select>
                        </clr-select-container>
                        <clr-select-container class="clr-col-md-6 clr-row">
                            <label for="house" class="clr-control-label clr-col-3">House </label>
                            <select class="clr-col-7" clrSelect name="houseId" [(ngModel)]="houseId"
                                style="width: 190px;     background-color: #f5f5f5;"
                                (change)="getHouseId($event.target.value)">
                                <option *ngFor="let house of houses" [value]='house.houseId'>
                                    {{house.houseName}}
                                </option>
                            </select>
                        </clr-select-container>
                        
                    </div>

                    <div class="formV clr-row">
                        <clr-input-container class="clr-col-md-4 clr-form-control clr-row">
                            <label for="flock" class="clr-control-label clr-col-3">
                                Flock
                            </label>
                            <input type="text" clrInput name="flockName" [(ngModel)]="flockName"
                                class="clr-col-7" readonly />
                        </clr-input-container>
                        <clr-input-container class="formDate clr-form-control clr-col-md-4">
                            <label for="breed" class="clr-control-label clr-col-3">
                                Breed </label>
                            <input type="text" clrInput name="breeddescription" [(ngModel)]="breed"
                                class="clr-col-7" readonly />
                        </clr-input-container>

                        <clr-select-container class="clr-col-md-4 clr-row">
                            <label for="week" class="clr-control-label clr-col-3">Day </label>
                            <select class="clr-col-7" clrSelect name="options" [(ngModel)]="week"
                             style="background-color: #f5f5f5;" (change)="verification()">
                                <option value="0">0</option>
                                <option value="7">7</option>
                                <option value="14">14</option>
                                <option value="21">21</option>
                                <option value="28">28</option>
                                <option value="35">35</option>
                                <option value="42">42</option>
                            </select>
                        </clr-select-container>

                    </div>
                </div>

                <!-- Table Weight -->
                <div *ngIf="exist" style="background-color:  rgb(217,237,247)">
                <p style="color: rgb(58,135,173);padding: 10px;"><clr-icon class="alert-icon" shape="info-standard"></clr-icon> The measure of the <span style="font-weight: bold;"> {{week}}th </span> day is already computed and has a value of 
                <span style="font-weight: bold;">{{weightMeasure}} g </span> .</p>
            </div>
                <table *ngIf="!exist" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Number</th>
                            <th>Weight (g)</th>
                            <th>Add</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dynamic of dynamicArray; let i = index;">
                            <td><input type="text" style="width: 25px; border: 0;" readonly
                                    [(ngModel)]="dynamicArray[i].nbr" [ngModelOptions]="{standalone: true}">
                            </td>

                            <td>
                                <input [(ngModel)]="dynamicArray[i].weight" class="form-control"
                                    style="  border: 0; background-color: #fafafa; padding: 6px;border-bottom: .5px solid #ececec;"
                                    [ngModelOptions]="{standalone: true}" type="number" (change)="showButtonSave()" />
                            </td>
                            <td (click)="addRow()">
                                <img src="https://img.icons8.com/color/48/000000/add.png" width="22" height="22" />
                            </td>
                            <td (click)="deleteRow(i)"> <img
                                    src="https://img.icons8.com/color/48/000000/delete-forever.png" width="22"
                                    height="22" />
                            </td>
                        </tr>
                        <tr>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="modal-footer">
            <div class="clr-row" *ngIf="!exist">
                
                <span class="alertspan"><clr-icon class="alert-icon" shape="exclamation-circle" style="color:red"></clr-icon>The minimum number of birds measured must be <span style="font-weight:bold ; color:red">50</span> .</span>
            </div>
          
            <div class="clr-row clr-col-xs-12-sm-12 buttonfooter">
            <button type="button" class="btn btn-outline" (click)="show = false;initForm()">Cancel</button>
            <button *ngIf="!exist" type="button" class="btn btn-primary " (click)='submitWeight();'
                [disabled]="disabledSave">save</button>
            </div>
        </div>



    </clr-modal>
</form>

<form clrForm class="clr-form clr-form-horizontal" style="margin-top: 0px;">
    <clr-modal title="Weight" [(clrModalOpen)]="showDeviation">

        <h3 class="modal-title" style="color: #02675c;">

            Weight measurement
        </h3>
       
        <div class="modal-body">
            <div class="clr-row">
                <div class="clr-col-12 clr-col-lg-6 clr-col-xl-6">
            <table class="table table-vertical table-border table-compact floatedTable ">
                <tbody>
                    <tr>
                        <th>Number of birds weighed	</th>
                        <td>{{dynamicArray.length}}</td>
                        
                        
                    </tr>
                   
                    <tr>
                        <th>Average + 10%	</th>
                        <td>{{bornSup}}</td>
                        
                        
                    </tr>
                    <tr>
                        <th>Uniformity</th>
                        <td>{{uniformity}}</td>
                        
                    </tr>
                    <tr>
                        <th>Number of birds off the range</th>
                        <td>{{outOff}}</td>
                    </tr>
                </tbody>
            </table>
                </div>
                <div class="clr-col-12 clr-col-lg-6 clr-col-xl-6"> 
            <table class="table table-vertical table-border table-compact floatedTable ">
                <tbody>
                    <tr>
                        <th>Average Body Weight(g)</th>
                        <td>{{average}}</td>
                        
                    </tr>
                   
                    <tr>
                        <th>Average - 10%	</th>
                        <td>{{bornInf}}</td>
                        
                    </tr>
                    <tr>
                        <th>CV</th>
                        <td>{{cv}}</td>
                    </tr>
                    <tr>
                        <th>Number of birds off the range</th>
                        <td>{{outOff}}</td>
                    </tr>
                </tbody>
            </table>
              </div>
              </div>
                
                    <table class="table table-compact table-border " *ngIf="weeklyWeightOfFlock.length>0">
                        <thead>
                            <tr>
                                <th>Day</th>
                                <th>Comptage</th>
                                <th>g</th>
                                <th>CV%</th>
                                <th>Unif%</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let mesure of weeklyWeightOfFlock">
                                <td>{{mesure.week}}</td>
                                <td>{{mesure.count}}</td>
                                <td>{{mesure.average}}</td>
                                <td>{{mesure.cv}}</td>
                                <td>{{mesure.uniformity}}</td>
                            </tr>
                            
                        </tbody>
                    </table>
           
                <div id="container" class="content box1" style="margin-top: 50px;"></div>
           
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-outline" type="button"
                (click)=" showDeviation= false;show = false; initForm() ">Close</button>
        </div>

    </clr-modal>
</form>