<!-- Dialog for weight management -->
<form clrForm class="clr-form clr-form-horizontal">
    <clr-modal title="Weight" [(clrModalOpen)]="show" [clrModalStaticBackdrop]="true">

        <h3 class="modal-title" style="color: #02675c;"><img src="../../../assets/feed.png" width="30" height="30">
            Feed measurement
        </h3>

        <div class="modal-body">
            <div class="container">
                <div>
                    <!-- form-visit part 1 -->
                    <div class="formV clr-col-xs-12-sm-12 clr-row">
                        <clr-select-container class="clr-col-md-6 clr-row">
                            <label for="farm" class="clr-control-label clr-col-3">Center </label>
                            <select class="clr-col-7" clrSelect name="farm" [(ngModel)]="weeklyFeed.centerId" name="farmID"
                                (change)="getCenterId($event.target.value)"
                                style="width: 199px;  background-color: #f5f5f5;">
                                <option *ngFor="let center of centers " [value]='center.centerId'>
                                    {{center.centerName}}
                                </option>
                            </select>
                        </clr-select-container>
                        <clr-select-container class="clr-col-md-6 clr-row">
                            <label for="house" class="clr-control-label clr-col-3">House </label>
                            <select  class="clr-col-7" clrSelect name="houseId" [(ngModel)]="weeklyFeed.houseId"
                                style="width: 199px;     background-color: #f5f5f5;"
                                (change)="getHouseId($event.target.value)">
                                <option *ngFor="let house of houses" [value]='house.houseId'>
                                    {{house.houseName}}
                                </option>
                            </select>
                        </clr-select-container>
                        
                    </div>

                    <div class="formV clr-row">

                        <clr-input-container class="clr-col-md-4 clr-form-control clr-row">
                            <label for="flockName" class="clr-control-label clr-col-3">
                                Flock
                            </label>
                            <input type="text" clrInput name="flockName" [(ngModel)]="flockName"
                                class="clr-col-7" readonly />
                        </clr-input-container>

                        <clr-input-container class="formDate clr-form-control clr-col-md-4 clr-row">
                            <label for="breed" class="clr-control-label clr-col-3">
                                Breed </label>
                            <input type="text" clrInput name="breed" [(ngModel)]="breed"
                                class="clr-col-7" readonly />
                        </clr-input-container>

                        <clr-select-container class="clr-col-md-4 clr-row">
                            <label for="week" class="clr-control-label clr-col-3">Day </label>
                            <select class="clr-col-7" clrSelect name="options" [(ngModel)]="weeklyFeed.week"
                            (change)="verfication()"
                                style="    background-color: #f5f5f5;">
                                <option value="0">0</option>
                                <option value="7">7</option>
                                <option value="14">14</option>
                                <option value="21">21</option>
                                <option value="28">28</option>
                                <option value="35">35</option>
                                <option value="42">42</option>
                            </select>
                        </clr-select-container>

                    </div>
                </div>

                <!-- Table Feed -->
                <div *ngIf="exist" style="background-color:  rgb(217,237,247)">
                    <p style="color: rgb(58,135,173);padding: 10px;"><clr-icon class="alert-icon" shape="info-standard"></clr-icon> 
                        The measure of the <span style="font-weight: bold;"> {{weeklyFeed.week}}th </span> day is already computed and has a value of 
                    <span style="font-weight: bold;">{{totalfeed}} g </span> .</p>
                </div>
                <table *ngIf="!exist" class="table">
                    <thead>
                        <tr>
                            <th>Feed </th>
                            <th>Quantity ( kg)</th>
                            <th>Quantity by bird ( kg )</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="weeklyFeed.week<=10">
                            <td>Starter feed <small>[0-10]days</small> </td>
                            <td> <input [(ngModel)]="weeklyFeed.totalStarterFeed" class="form-control"
                                    style="  border: 0; background-color: #fafafa; padding: 6px;border-bottom: .5px solid #ececec;"
                                    [ngModelOptions]="{standalone: true}" type="number"
                                    (change)="calculStarterFeedPerBird($event.target.value)"
                                    [value]='weeklyFeed.totalStarterFeed' /> </td>
                            <td> <input [(ngModel)]="weeklyFeed.starterFeedPerBird" class="form-control"
                                    style="  border: 0; background-color: #fafafa; padding: 6px;border-bottom: .5px solid #ececec;"
                                    [ngModelOptions]="{standalone: true}" type="text" readonly /> </td>

                        </tr>
                        <tr *ngIf="weeklyFeed.week>=11 && weeklyFeed.week<=21 ">
                            <td>Grower feed <small>[11-21]days</small></td>
                            <td><input [(ngModel)]="weeklyFeed.totalGrowerFeed" class="form-control"
                                    style="  border: 0; background-color: #fafafa; padding: 6px;border-bottom: .5px solid #ececec;"
                                    [ngModelOptions]="{standalone: true}" type="text"
                                    (change)="calculGrowerFeedPerBird($event.target.value)"
                                    [value]='weeklyFeed.totalGrowerFeed' /></td>
                            <td><input [(ngModel)]="weeklyFeed.growerFeedPerBird" class="form-control"
                                    style="  border: 0; background-color: #fafafa; padding: 6px;border-bottom: .5px solid #ececec;"
                                    [ngModelOptions]="{standalone: true}" type="text" readonly /></td>

                        </tr>
                        <tr *ngIf="weeklyFeed.week>22">
                            <td>Finisher feed <small> >22 days </small></td>
                            <td><input [(ngModel)]="weeklyFeed.totalFinisherFeed" class="form-control"
                                    style="  border: 0; background-color: #fafafa; padding: 6px;border-bottom: .5px solid #ececec;"
                                    [ngModelOptions]="{standalone: true}" type="text"
                                    (change)="calculFinisherFeedBird($event.target.value)"
                                    [value]='weeklyFeed.totalFinisherFeed' /></td>
                            <td><input [(ngModel)]="weeklyFeed.finisherFeedBird" class="form-control"
                                    style="  border: 0; background-color: #fafafa; padding: 6px;border-bottom: .5px solid #ececec;"
                                    [ngModelOptions]="{standalone: true}" type="text" readonly /></td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="show = false;clearForm()">Cancel</button>
            <button *ngIf="!exist" type="button" class="btn btn-primary " (click)="save()">save</button>
        </div>



    </clr-modal>
</form>