<form novalidate name="myForm" #myForm='ngForm' (ngSubmit)="onSubmit();">
  <clr-modal [(clrModalOpen)]="show">

    <h3 class="modal-title" style="color: #02675c;"><img src="../../../assets/farm-add.png" width="40"
        style="margin-top: -2px; margin-right: 10px;"> Add Farm</h3>
    <div class="modal-body">

      <!-- /Spinner-->
      <div class="form">
        <clr-select-container class="clr-row">
          <label class="clr-control-label clr-col-xs-6-sm-6 clr-col-md-6">Company * </label>
          <select clrSelect required [(ngModel)]="farm.companyID" name="companyID" class="clr-col-xs-6 clr-col-md-6"
            style="width: 233px;" (change)="getCompanyId($event.target.value)">
            <option *ngFor="let companydata of companies" [value]='companydata.companyId' size="25">
              {{companydata.name}}
            </option>
          </select>
          <clr-control-helper>You must select something!</clr-control-helper>
          <clr-control-error>This field is required!</clr-control-error>



        </clr-select-container>

        <clr-input-container class="clr-row">
          <label for="housesNumber" class="clr-control-label clr-col-xs-6-sm-6 clr-col-md-6">Farm Name * </label>
          <input clrInput required class="clr-col-xs-6 clr-col-md-6" size="30" type="text" n="1" [(ngModel)]="farmName"
            name="farmName" />




        </clr-input-container>

        <clr-input-container class="clr-row">
          <label for="housesNumber" class="clr-control-label clr-col-xs-6-sm-6 clr-col-md-6">Number of Houses *
          </label>
          <input clrInput required class="clr-col-xs-6 clr-col-md-6" size="30" type="number" n="1" style="width: 233px;"
            [(ngModel)]="housesNumber" name="housesNumber" />


        </clr-input-container>

        <clr-input-container class="clr-row">
          <label for="country" class="clr-control-label clr-col-xs-6-sm-6 clr-col-md-6">Address *</label>
          <input clrInput required class="clr-col-xs-6 clr-col-md-6" size="30" type="text" [(ngModel)]="address"
            name="address" />
        </clr-input-container>

        <clr-input-container class="clr-row">
          <label for="town" class="clr-control-label clr-col-xs-6-sm-6 clr-col-md-6">Zone * </label>
          <input clrInput required class="clr-col-xs-6 clr-col-md-6" size="30" type="text" [(ngModel)]="area"
            name="zone" />
        </clr-input-container>

        <clr-select-container class="clr-row">
          <label class="clr-control-label clr-col-xs-6-sm-6 clr-col-md-6">Breed *</label>
          <select clrSelect name="breed" [(ngModel)]="breed" required class="clr-col-xs-6 clr-col-md-6"
            style="width: 233px;">
            <option>Hubbard</option>
            <option>Cobb 500</option>
            <option>Ross</option>
            <option>Arbor Acres plus</option>
          </select>
        </clr-select-container>

        <clr-select-container class="clr-row">
          <label class="clr-control-label clr-col-xs-6-sm-6 clr-col-md-6">Production Type * </label>
          <select clrSelect [(ngModel)]="typeProduction" name="typeProduction" required style="width: 233px;"
            class="clr-col-xs-6 clr-col-md-6">
            <option>Broilers</option>
            <option>Pullets</option>
            <option>Laying hens</option>
            <option>breeders</option>
          </select>
        </clr-select-container>


        <clr-input-container class="clr-row">
          <label for="town" class="clr-control-label clr-col-xs-6-sm-6 clr-col-md-6">Farm Manager Name * </label>
          <input clrInput required class="clr-col-xs-6 clr-col-md-6" size="30" type="text" [(ngModel)]="farmManageName"
            name="zone" />
        </clr-input-container>

        <clr-input-container class="clr-row">
          <label for="town" class="clr-control-label clr-col-xs-6-sm-6 clr-col-md-6">Farm Manager Email * </label>
          <input clrInput required class="clr-col-xs-6 clr-col-md-6" size="30" type="text" [(ngModel)]="farmManageEmail"
            name="zone" />
        </clr-input-container>

        <clr-input-container class="clr-row">
          <label for="town" class="clr-control-label clr-col-xs-6-sm-6 clr-col-md-6">Farm Manager Tel * </label>
          <input clrInput required class="clr-col-xs-6 clr-col-md-6" size="30" type="text" [(ngModel)]="farmManageTel"
            name="zone" />
        </clr-input-container>

        <clr-input-container class="clr-row">
          <label for="numberCenter" class="clr-control-label clr-col-xs-6-sm-6 clr-col-md-6">Number of Center *
          </label>
          <input clrInput required class="clr-col-xs-6 clr-col-md-6" size="30" type="number" n="1" style="width: 233px;"
            [(ngModel)]="numberCenter" name="numberCenter" />
        </clr-input-container>

        <clr-input-container class="clr-row">
          <label for="bridsNumberPerCenter" class="clr-control-label clr-col-xs-6-sm-6 clr-col-md-6">
            Number of breeding centers *
          </label>
          <input clrInput required class="clr-col-xs-6 clr-col-md-6" size="30" type="number" n="1" style="width: 233px;"
            [(ngModel)]="bridsNumberPerCenter" name="bridsNumberPerCenter" />
        </clr-input-container>


        <clr-input-container class="clr-row">
          <label for="result" class="clr-control-label clr-col-xs-6-sm-6 clr-col-md-6">Result
          </label>
          <input clrInput required class="clr-col-xs-6 clr-col-md-6" size="30" type="string" n="1" [(ngModel)]="result"
            name="result" />
        </clr-input-container>

        <clr-input-container class="clr-row">
          <label for="avMortalityRate" class="clr-control-label clr-col-xs-6-sm-6 clr-col-md-6">
            Average Mortality Rate
          </label>
          <input clrInput required class="clr-col-xs-6 clr-col-md-6" size="30" type="number" n="1" style="width: 233px;"
            [(ngModel)]="avMortalityRate" name="avMortalityRate" />
        </clr-input-container>



        <clr-input-container class="clr-row">
          <label for="fcr" class="clr-control-label clr-col-xs-6-sm-6 clr-col-md-6">
            Fcr
          </label>
          <input clrInput required class="clr-col-xs-6 clr-col-md-6" size="30" type="number" n="1" style="width: 233px;"
            [(ngModel)]="fcr" name="fcr" />
        </clr-input-container>

        <clr-input-container class="clr-row">
          <label for="epef" class="clr-control-label clr-col-xs-6-sm-6 clr-col-md-6">
            Epef
          </label>
          <input clrInput required class="clr-col-xs-6 clr-col-md-6" size="30" type="number" n="1" style="width: 233px;"
            [(ngModel)]="epef" name="epef" />
        </clr-input-container>

        <clr-input-container class="clr-row">
          <label for="avLayRate" class="clr-control-label clr-col-xs-6-sm-6 clr-col-md-6">
            Average lay rate
          </label>
          <input clrInput required class="clr-col-xs-6 clr-col-md-6" size="30" type="number" n="1" style="width: 233px;"
            [(ngModel)]="avLayRate" name="avLayRate" />
        </clr-input-container>

        <clr-input-container class="clr-row">
          <label for="rotation" class="clr-control-label clr-col-xs-6-sm-6 clr-col-md-6">
            Rotation
          </label>
          <input clrInput required class="clr-col-xs-6 clr-col-md-6" size="30" type="number" n="1" style="width: 233px;"
            [(ngModel)]="rotation" name="rotation" />
        </clr-input-container>
      </div>




    </div>

    <div class="modal-footer">

      <button type="button" class="btn btn-outline" (click)="close()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)='submit()'>save</button>

    </div>

  </clr-modal>
</form>