<div class="main-container" style="background:#fff;">
    <div class="container">
        <div class="content-container">
            <h2>
                <img src="../../../assets/farmicon.png" width="48" height="48"
                    style="margin-bottom:12px; margin-right: 10px;">
                Centers
            </h2>
        </div>
        <!-- Actions Button -->
        <div class="addbtn">

            <button (click)="modal.open()" class="btn btn-primary">
                <clr-icon shape="add-text"></clr-icon>
                Add Center
            </button>

            <app-new-center (refreshList)="ngOnInit()"></app-new-center>

        </div>
        <!-- /Actions Buttons -->
        <div class="content-area">
            <clr-datagrid class="table_view " [clrDgLoading]="loading" style="width:100%">
                <clr-dg-column>Center Name</clr-dg-column>
                <clr-dg-column>Address</clr-dg-column>
                <clr-dg-column>Zone</clr-dg-column>
                <clr-dg-column>Number of Houses</clr-dg-column>
                <clr-dg-column>Production Density</clr-dg-column>
                <clr-dg-column>Breed</clr-dg-column>
                <clr-dg-column>Center Manager Name</clr-dg-column>
                <clr-dg-column>Center Manager Email</clr-dg-column>
                <clr-dg-column>Center Manager Tel</clr-dg-column>
                <clr-dg-column>Nutrition Supervisor </clr-dg-column>
                <clr-dg-column>Sanitary Supervisor </clr-dg-column>
                <clr-dg-column>Brids Number Per House</clr-dg-column>
                <!-- ... -->
                <clr-dg-row *clrDgItems="let center of centers" [clrDgItem]="center" class="tablecolor">
                    <clr-dg-cell> {{center.centerName}}</clr-dg-cell>
                    <clr-dg-cell style="width: 180px;"> {{center.address}} </clr-dg-cell>
                    <clr-dg-cell style="width: 180px;"> {{center.zone}} </clr-dg-cell>
                    <clr-dg-cell> {{center.housesNumber}}</clr-dg-cell>
                    <clr-dg-cell> {{center.productionDensity}}</clr-dg-cell>
                    <clr-dg-cell> {{center.breed}} </clr-dg-cell>
                    <clr-dg-cell> {{center.centerManagerName}} </clr-dg-cell>
                    <clr-dg-cell> {{center.centerManagerEmail}} </clr-dg-cell>
                    <clr-dg-cell> {{center.centerManagerTel}} </clr-dg-cell>
                    <clr-dg-cell> {{center.nutritionSupervisor}} </clr-dg-cell>
                    <clr-dg-cell> {{center.sanitarySupervisor}} </clr-dg-cell>
                    <clr-dg-cell> {{center.bridsNumberPerHouse}} </clr-dg-cell>


                </clr-dg-row>

                <clr-dg-footer>
                    <clr-dg-pagination #pagination [clrDgPageSize]="15">
                        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                        of {{pagination.totalItems}} farms
                    </clr-dg-pagination>
                </clr-dg-footer>

                <clr-dg-detail *clrIfDetail="let detail" class="details">
                    <clr-dg-detail-header>

                        <clr-icon shape="home" size="30"></clr-icon>
                        <span class="internal-title"> {{detail.centerName}}</span>
                    </clr-dg-detail-header>
                    <clr-dg-detail-body>
                        <div class="separator"></div>
                        <form clrForm>

                            <clr-input-container>
                                <label>Address: </label>
                                <input clrInput type="text" [(ngModel)]="detail.address" name="address" size="35" />
                            </clr-input-container>
                            <clr-input-container>
                                <label>Zone: </label>
                                <input clrInput type="text" [(ngModel)]="detail.zone" name="zone" size="35" />
                            </clr-input-container>
                            <clr-input-container>
                                <label>Number of Houses: </label>
                                <input clrInput type="text" [(ngModel)]="detail.housesNumber" name="housesNumber"
                                    size="35" />
                            </clr-input-container>
                            <clr-input-container>
                                <label>Production Density: </label>
                                <input clrInput type="text" [(ngModel)]="detail.productionDensity"
                                    name="productionDensity" size="35" />
                            </clr-input-container>

                            <clr-input-container>
                                <label>Breed: </label>
                                <input clrInput type="text" [(ngModel)]="detail.breed" name="breed" size="35" />
                            </clr-input-container>
                            <clr-input-container>
                                <label>Center Manager Name: </label>
                                <input clrInput type="text" [(ngModel)]="detail.centerManagerName"
                                    name="centerManagerName" size="35" />
                            </clr-input-container>
                            <clr-input-container>
                                <label>Center Manager Email: </label>
                                <input clrInput type="text" [(ngModel)]="detail.centerManagerEmail"
                                    name="centerManagerEmail" size="35" />
                            </clr-input-container>
                            <clr-input-container>
                                <label> Center Manager Tel: </label>
                                <input clrInput type="text" [(ngModel)]="detail.centerManagerTel"
                                    name="centerManagerTel" size="35" />
                            </clr-input-container>
                            <clr-input-container>
                                <label> Nutrition Supervisor: </label>
                                <input clrInput type="text" [(ngModel)]="detail.nutritionSupervisor"
                                    name="nutritionSupervisor" size="35" />
                            </clr-input-container>
                            <clr-input-container>
                                <label> Sanitary Supervisor: </label>
                                <input clrInput type="text" [(ngModel)]="detail.sanitarySupervisor"
                                    name="sanitarySupervisor" size="35" />
                            </clr-input-container>
                            <clr-input-container>
                                <label>Brids Number Per House: </label>
                                <input clrInput type="text" [(ngModel)]="detail.bridsNumberPerHouse"
                                    name="bridsNumberPerHouse" size="35" />
                            </clr-input-container>
                        </form>
                        <br>
                        <button class="btn btn-primary" (click)="sauvegarder(detail);">Save</button>
                    </clr-dg-detail-body>
                </clr-dg-detail>
                <!-- ... -->
            </clr-datagrid>




        </div>








    </div>
</div>