<div class="main-container" style="background:#fff;">

    <app-header></app-header>
    <nav class="subnav" style="background-color: #f7f7f7;">
        <ul class="nav">
            <li class="nav-item">
                <a routerLink="/Dashboard/general" class="nav-link" routerLinkActive="active">
                    <img class="iconimage" src="../../assets/Icones/list.png" alt="">
                    General</a>
            </li>
            <li class="nav-item">
                <a routerLink="/Dashboard/mortality" class="nav-link" routerLinkActive="active" >
                    <img class="iconimage" src="../../assets/Icones/list.png" alt="">
                    Mortality  </a>
            </li>
            <li class="nav-item">
                <a routerLink="/Dashboard/weight" class="nav-link" routerLinkActive="active" >
                    <img class="iconimage" src="../../assets/Icones/AjoutPlus.png" alt="">
                    Weight</a>
            </li>


        </ul>
    </nav>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>