<div class="main-container" style="background:#fff;">

    <nav class="subnav" style="background-color: #f7f7f7;">
        <ul class="nav">
            <li class="nav-item">
                <a routerLink="/Dashboard/general" class="nav-link" routerLinkActive="active">
                    <img class="iconimage" src="../../assets/Icones/list.png" alt="">
                    General</a>
            </li>
            <li class="nav-item">
                <a routerLink="/Dashboard/details" class="nav-link" routerLinkActive="active" >
                    <img class="iconimage" src="../../assets/Icones/list.png" alt="">
                    Details  </a>
            </li>
            <li class="nav-item">
                <a routerLink="/Dashboard/flock" class="nav-link" routerLinkActive="active" >
                    <img class="iconimage" src="../../assets/Icones/list.png" alt="">
                    Flocks  </a>
            </li>


        </ul>
    </nav>
    <div class="container " style="background:rgba(255, 255, 255); margin: 16px 20px; padding: 0px;">


    <!-- /Charts -->

    <!-- Select -->
    <div class=" clr-row clr-col-lg-12 clr-col-md-12 clr-col-sm-12"
        style="margin: auto; background-color: #f3f7f7; padding: 8px;">
        <div class=" clr-col-lg-3 clr-col-md-6 clr-col-sm-4">
            <form clrForm clrLayout="horizontal" style="text-align: left;">
                <clr-select-container style="margin-top: 0px">
                    <label>Farm</label>
                    <select clrSelect name="farm" [(ngModel)]="farmId"
                        (change)="getAllCentersByFarm($event.target.value);getweeklyWeightMesurementbyFarm($event.target.value);
            getAlertByFarm(visitDate,$event.target.value);getSurvivalByFarm($event.target.value);getMortalityByFarm($event.target.value);">
                        <option *ngFor="let farm of farms" [value]="farm.farmId"> {{farm.farmName}}
                        </option>
                    </select>
                </clr-select-container>
            </form>
        </div>
        <div class="clr-col-lg-3 clr-col-md-6 clr-col-sm-4">
            <form clrForm clrLayout="horizontal" style="text-align: left;">
                <clr-select-container style="margin-top: 0px">
                    <label>Center</label>
                    <select clrSelect name="center" [(ngModel)]="centerID"
                        (change)="getAllhouseByCenterFordetails($event.target.value);">
                        <option *ngFor="let center of centers" [value]="center.centerId"> {{center.centerName}}
                        </option>
                    </select>
                </clr-select-container>
            </form>
        </div>

        <div class="clr-col-lg-3 clr-col-md-6 clr-col-sm-4">
            <form clrForm clrLayout="horizontal" style="text-align: left;"
                (change)="getAlertbyhouse($event.target.value);getMortalityByhouseDaily($event.target.value);
    getSurvivalByHouse($event.target.value); getfeedByhouseDaily($event.target.value) ; getTotalFood($event.target.value);
    getageofflock($event.target.value);getFeedByHouseofLastDays($event.target.value);getMortalityByHouseofLastDays($event.target.value);
    getWeightByHouseofLastDays($event.target.value);getwaterByHouseofLastDays($event.target.value);getWaterConsumpDaily($event.target.value);
    getWaterTotal($event.target.value);getWeightDaily($event.target.value);getCV($event.target.value);getBreedOfHouse($event.target.value)">
                <clr-select-container style="margin-top: 0px">
                    <label>House</label>
                    <select clrSelect name="house" [(ngModel)]="houseId">
                        <option *ngFor="let house of houses" [value]="house.houseId"> {{house.houseName}}
                        </option>
                    </select>
                </clr-select-container>
            </form>
        </div>
        <div class="clr-col-lg-1 clr-col-md-4 clr-col-sm-4">
            <form clrForm>
                <clr-input-container style="margin-top: 0px">
                    <label class="clr-col-12 clr-col-md-1">Age</label>
                    <input class="clr-col-md-9 clr-col-12" placeholder="--" clrInput [(ngModel)]="ageofflock" name="name" required readonly />
                </clr-input-container>
            </form>
        </div>

        <div class="clr-col-lg-2 clr-col-md-12 clr-col-sm-4">
            <div class="DateHeader" style="float: right;">
                <p><clr-icon shape="calendar" style=" height: 22px;     color: #01675c;
                    width: 22px; margin-right: 5px;   margin-bottom: 5px;"></clr-icon>{{date | date:'dd/MM/yyyy'}}</p>
            </div>
        </div>
    </div>



    <!-- Carts -->
    <div class="clr-row" style="margin: auto;">
        <div class="clr-row clr-col-lg-12 clr-col-md-12 clr-col-sm-12">

            <div class="clr-col-lg-4 clr-col-md-8 clr-col-sm-8">

                <h3>Death analysis <img src="../../../assets/death-chiken.png" width="45" height="45"></h3>
              <p style="color: red" *ngIf="visitMortalit"> There is not measure of mortality today</p>

                <div class="clr-row">
                    <div class="basic-column w-col w-col-3">
                        <div class="tag-wrapper">
                            <div class="number-card">
                                <h1 class="number-card-number">{{mortalityByHousedaily}} <small
                                        style="font-size:15px;">birds</small></h1>
                                <div class="number-card-divider"></div>
                                <div class="number-card-progress-wrapper">
                                    <div class="tagline number-card-currency">Daily Mortality</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="basic-column w-col w-col-3">
                        <div class="tag-wrapper">
                            <div class="number-card1">
                                <h1 class="number-card-number1">{{survivalByhouse}} <small
                                        style="font-size:15px;">birds</small></h1>
                                <div class="number-card-divider1"></div>
                                <div class="number-card-progress-wrapper">
                                    <div class="tagline number-card-currency1">Survival</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clr-row">
                    <div id="chartMortalityByhouseofLastDays" style=" height: 200px; width: 100%;"></div>
                </div>


                <h3>Weight analysis <img src="../../../assets/Icones visit/weight.png" width="45" height="45" style="margin-top:-13px"
                        class="imgIcon"></h3>
              <p style="color: red" *ngIf="visitWeight"> There is not measure of body weight today</p>
                <div class="clr-row">
                    <div class="basic-column w-col w-col-3">
                        <div class="tag-wrapper">
                            <div class="number-card">
                                <h1 class="number-card-number">{{weightdaily}} <small style="font-size:15px;">g</small>
                                </h1>
                                <div class="number-card-divider"></div>
                                <div class="number-card-progress-wrapper">
                                    <div class="tagline number-card-currency">Average Body weight</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="basic-column w-col w-col-3">
                        <div class="tag-wrapper">
                            <div class="number-card1">
                                <h1 class="number-card-number1">{{cv}} <small style="font-size:15px;">%</small></h1>
                                <div class="number-card-divider1"></div>
                                <div class="number-card-progress-wrapper">
                                    <div class="tagline number-card-currency1">CV</div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div id="chartWeightByhouseofLastDays" style=" height: 200px; width: 100%;"></div>

                </div>
            </div>

            <!-- Section center -->
            <div class="clr-col-lg-4 clr-col-md-4 clr-col-sm-8"
            style="background-color:rgba(1, 103, 92, .05);
                box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px;">


                <div class="clr-row" style="margin-top: 30px;">
                    <div id="chartDetailsAlerts" style=" height: 300px; "></div>
                </div>

                <div class="clr-row">
                </div>

                <div class="clr-row" style="margin-top: 30px;">
                    <div id="chartWeightByStandard" style=" height: 100%; margin-top: 31px; width: 100%;"></div>
                </div>
            </div>


              <!-- Section 3 -->
            <div class="clr-col-lg-4 clr-col-md-8 clr-col-sm-8">

                <h3>Feed analysis <img src="../../../assets/Icones visit/feedConsumption.png" width="40" height="40"
                        class="imgIcon"></h3>
              <p style="color: red" *ngIf="visitFeed"> There is not measure of feed consumption today</p>
                <div class="clr-row">
                    <div class="basic-column w-col w-col-3">
                        <div class="tag-wrapper">
                            <div class="number-card1">
                                <h1 class="number-card-number1">{{feedhousedaily}} <small
                                        style="font-size:15px;">g/bird</small></h1>
                                <div class="number-card-divider1"></div>
                                <div class="number-card-progress-wrapper">
                                    <div class="tagline number-card-currency1">Quantity material feed</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="basic-column w-col w-col-3">
                        <div class="tag-wrapper">
                            <div class="number-card">
                                <h1 class="number-card-number">{{totalFeed}} <small
                                        style="font-size:15px;">g/bird</small></h1>
                                <div class="number-card-divider"></div>
                                <div class="number-card-progress-wrapper">
                                    <div class="tagline number-card-currency">Cumulative feed</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="chartfeedByhouseofLastDays" style=" height: 200px;"></div>
                <h3>Water analysis <img src="../../../assets/Icones visit/waterConsumption.png" width="40" height="40"
                        class="imgIcon"></h3>
              <p style="color: red" *ngIf="visitWater"> There is not measure of water consumption today</p>
                <div class="clr-row">
                    <div class="basic-column w-col w-col-3">
                        <div class="tag-wrapper">
                            <div class="number-card1">
                                <h1 class="number-card-number1">{{waterConsm}} <small
                                        style="font-size:15px;">ml/bird</small></h1>
                                <div class="number-card-divider1"></div>
                                <div class="number-card-progress-wrapper">
                                    <div class="tagline number-card-currency1">Daily water consumption</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="basic-column w-col w-col-3">
                        <div class="tag-wrapper">
                            <div class="number-card">
                                <h1 class="number-card-number">{{waterConsumTotal}} <small
                                        style="font-size:15px;">ml/bird</small></h1>
                                <div class="number-card-divider"></div>
                                <div class="number-card-progress-wrapper">
                                    <div class="tagline number-card-currency">Cumulative water</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="chartWaterByhouseofLastDays" style=" height: 200px;  width: 100%"></div>

                </div>
            </div>

        </div>


    </div>
</div>




</div>
