.box{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: white;
    max-width: 50%;
}
.err {
    color: #02675c;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position:absolute;
    left: 20%;
    
  }

.far {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  color: #02675c;
}

 .err2 {
    color: #02675c;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position:absolute;
    left: 68%;
  }