.container-box-add{
    background-color: white;
    max-width: 650px;
    margin: 4% auto 0;
    position: relative;
    border-radius: 7px;
}
@media screen and (max-width: 576px){
    .modal-body {
        overflow-x: scroll;
    }
    }
    .addbtn {
        float: right
      }